<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<div class="drawler left" [class.hidden]="!drawlers.left">
  <div class="content">
    <router-outlet
      name="left"
      (activate)="drawlers.left = $event"
      (deactivate)="drawlers.left = null"
    ></router-outlet>
  </div>
</div>

<div
  class="drawler right"
  [class.hidden]="!drawlers.right"
  [class.wide]="drawlers.right | is: editNodeInputsComponent | not"
>
  <div class="content">
    <router-outlet
      name="right"
      #drawlerRight="outlet"
      (activate)="drawlers.right = $event"
      (deactivate)="drawlers.right = null"
    ></router-outlet>
  </div>
</div>

<div
  class="drawler bottom"
  [class.hidden]="!drawlers.bottom"
  [class.shift-left]="drawlers.left"
  [class.shift-right]="drawlers.right"
>
  <header>
    <div class="title">
      <ng-container i18n="@@label.ai_assistant">AI assistant</ng-container>
      <sup>BETA</sup>
    </div>
    <a class="circle" [routerLink]="[{ outlets: { bottom: null } }]">
      <app-icon class="icon" icon="close"></app-icon>
    </a>
  </header>
  <div class="content">
    <router-outlet
      name="bottom"
      (activate)="drawlers.bottom = $event"
      (deactivate)="drawlers.bottom = null"
    ></router-outlet>
  </div>
</div>

<div class="modal" [class.hidden]="!modal">
  <header>
    <a
      class="primary with-icon"
      [hotKey]="'escape'"
      (hotKeyPressed)="back()"
      [routerLink]="[{ outlets: { primary: [] } }]"
    >
      <app-icon class="icon right" icon="close"></app-icon>
      <span class="badge">ESC</span>
    </a>
  </header>
  <div class="content filled">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<div
  #nodesRef
  class="nodes area"
  autoHeight
  [scrollInside]="{
    left: pipeline.layout?.left || 0,
    top: pipeline.layout?.top || 0,
    disabled: mode === 'launch',
  }"
  (updated)="updateLayoutPosition({ left: $event.left, top: $event.top })"
>
  <div
    *ngIf="
      mode === 'project' && (userRole.admin | can: project.createdBy | async)
    "
    class="actions stack"
  >
    <a
      class="circle"
      [class.toggled]="drawlers.left"
      [routerLink]="[{ outlets: { left: ['add-node'], right: null } }]"
    >
      <app-icon class="icon" icon="add-node"></app-icon>
    </a>

    <ng-template #runTemplate>
      <div class="run-pipeline">
        <ul *ngIf="(launches | keyvalue).length > 0; else costsTemplate">
          <li *ngFor="let l of launches | keyvalue">
            <div>{{ pipeline.nodes.get(l.key).title | i18n }}</div>
            <button
              class="primary with-icon icon-only small"
              (click)="stopNode(l.key)"
            >
              <app-icon class="icon" icon="stop"></app-icon>
            </button>
          </li>
        </ul>

        <ng-template #costsTemplate>
          <ng-container *ngLet="project._id | pipelineCosts | async as costs">
            <ng-template #loadingTemplate>
              <app-spinner></app-spinner>
            </ng-template>
            <ng-container *ngIf="costs !== null; else loadingTemplate">
              <ng-template #noCostsTemplate>
                <div i18n="@@message.no_costs_for_pipeline">
                  This pipeline is free to use.
                </div>
              </ng-template>
              <ng-container *ngIf="costs.total > 0; else noCostsTemplate">
                <ul>
                  <li *ngFor="let n of costs.nodes | keyvalue">
                    <div>{{ pipeline.nodes.get(n.key).title | i18n }}</div>
                    <div>
                      {{
                        n.value.costs | currency: "USD" : "symbol" : "1.0-10"
                      }}
                    </div>
                  </li>
                </ul>
                <footer>
                  <ng-container i18n="@@label.total_pipeline_costs">
                    Total pipeline costs:
                  </ng-container>
                  {{ costs.total | currency: "USD" : "symbol" : "1.0-10" }}
                </footer>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
      </div>
    </ng-template>

    <div
      [appPopover]="{
        content: runTemplate,
        maxWidth: '500px',
        disabled: !config.billing.active,
      }"
    >
      <button
        class="circle"
        [class.busy]="
          progress.launching ||
          progress.interrupting ||
          (launches | keyvalue).length > 0
        "
        [disabled]="(launches | keyvalue).length > 0"
        (click)="!!launch ? interrupt() : run()"
      >
        <app-icon
          class="icon"
          [icon]="!!launch ? 'stop' : 'play'"
          color="white"
        ></app-icon>
      </button>
    </div>

    <a
      *ngIf="config.assistant.active"
      class="circle"
      [class.toggled]="drawlers.bottom"
      [routerLink]="[
        { outlets: { bottom: drawlers.bottom ? null : ['assistant'] } },
      ]"
    >
      <app-icon class="icon" icon="assistant"></app-icon>
    </a>
  </div>

  <div
    #paneRef
    class="pane"
    dropZone
    [pitchZoom]="{ zoom: pipeline.layout?.zoom || 1 }"
    (drop)="
      addNode(
        $event.left / (pipeline.layout?.zoom || 1),
        $event.top / (pipeline.layout?.zoom || 1),
        $event.payload
      )
    "
    (zoom)="updateLayoutZoom($event)"
  >
    <div
      class="input"
      [class.disabled]="
        mode === 'launch' ||
        (userRole.admin | can: project.createdBy | async | not)
      "
      *ngFor="let input of pipeline.inputs | keyvalue"
      #drag="appDragMove"
      [appDragMove]="{
        anchorX: 1,
        anchorY: 0.5,
        position: { x: input.value.arrange.x, y: input.value.arrange.y },
        zoom: pipeline.layout?.zoom || 1,
      }"
      (moving)="inputMoving(input.value, $event)"
      (moved)="inputMoved(input.value, $event)"
    >
      <ng-template #actionsTemplate>
        <ul class="context-menu">
          <li>
            <button (click)="removeInput(input.key)">
              <app-icon class="icon left" icon="delete" [size]="18"></app-icon>
              <span i18n="@@action.delete">Delete</span>
            </button>
          </li>
        </ul>
      </ng-template>

      <button
        *ngIf="
          mode === 'project' &&
          (userRole.admin | can: project.createdBy | async)
        "
        class="more transparent"
        [appPopover]="{
          content: actionsTemplate,
          trigger: 'click',
          position: 'right',
        }"
      >
        <app-icon class="icon" icon="more" [size]="16" [stroke]="2"></app-icon>
      </button>
      <app-pipeline-input
        [id]="input.key"
        [input]="input.value"
        [value]="launchRequest.inputs?.get(input.key)"
        [project]="project"
        [launchRequest]="launchRequest"
        [attr.disabled]="drag.dragged"
        (output)="startInputFlow(input.key)"
      ></app-pipeline-input>
    </div>

    <ng-container
      *ngIf="
        mode === 'project' && (userRole.admin | can: project.createdBy | async)
      "
    >
      <ng-container *ngFor="let input of pipeline.inputs | keyvalue">
        <div
          *ngFor="let f of input.value.flows | keyvalue"
          class="flow"
          [ngStyle]="
            (pipeline | pipelineInput: input.key).arrange
              | center
                : ((pipeline | node: f.value.to | async).arrange
                    | shift
                      : {
                          y:
                            ((pipeline
                              | node: f.value.to
                              | async
                              | inputIndex: f.value.input
                              | async) +
                              1) *
                              ui.node.input.height +
                            ui.node.shift,
                        })
              | position
          "
        >
          <ng-template #actionsTemplate>
            <ul class="context-menu">
              <li>
                <button (click)="removeInputFlow(input.key, f.key)">
                  <app-icon
                    class="icon left"
                    icon="delete"
                    [size]="18"
                  ></app-icon>
                  <span i18n="@@action.delete">Delete</span>
                </button>
              </li>
            </ul>
          </ng-template>
          <button
            class="more transparent"
            [appPopover]="{
              content: actionsTemplate,
              trigger: 'click',
              position: 'right',
            }"
          >
            <app-icon
              class="icon"
              icon="more"
              [size]="16"
              [stroke]="2"
            ></app-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>

    <div
      class="output"
      [class.disabled]="
        mode === 'launch' ||
        (userRole.admin | can: project.createdBy | async | not)
      "
      *ngFor="let output of pipeline.outputs | keyvalue"
      [appDragMove]="{
        anchorY: 0.5,
        position: { x: output.value.arrange.x, y: output.value.arrange.y },
        zoom: pipeline.layout?.zoom || 1,
      }"
      (moving)="outputMoving(output.value, $event)"
      (moved)="outputMoved(output.value, $event)"
    >
      <app-pipeline-output
        [id]="output.key"
        [output]="output.value"
      ></app-pipeline-output>
      <ng-template #actionsTemplate>
        <ul class="context-menu">
          <li>
            <button (click)="removeOutput(output.key)">
              <app-icon class="icon left" icon="delete" [size]="18"></app-icon>
              <span i18n="@@action.delete">Delete</span>
            </button>
          </li>
        </ul>
      </ng-template>
      <button
        *ngIf="
          mode === 'project' &&
          (userRole.admin | can: project.createdBy | async)
        "
        class="transparent"
        [appPopover]="{
          content: actionsTemplate,
          trigger: 'click',
          position: 'right',
        }"
      >
        <app-icon class="icon" icon="more" [size]="16" [stroke]="2"></app-icon>
      </button>
    </div>

    <div
      class="node"
      [class.selected]="currentNode === node.value"
      *ngFor="let node of pipeline.nodes | keyvalue; trackBy: trackNode"
      [class.disabled]="userRole.admin | can: project.createdBy | async | not"
      #drag="appDragMove"
      [appDragMove]="{
        position: { x: node.value.arrange.x, y: node.value.arrange.y },
        zoom: pipeline.layout?.zoom || 1,
        disabled: mode === 'launch',
      }"
      (moving)="nodeMoving(node.value, $event)"
      (moved)="nodeMoved(node.value, $event)"
    >
      <ng-template #nodeCostsTemplate>
        <div
          class="node-costs"
          *ngLet="
            (project._id | pipelineCosts | async)?.nodes?.get(node.key) as costs
          "
        >
          <ng-template #noCostsTemplate>
            <div i18n="@@message.no_costs_for_node">
              This node is free to use.
            </div>
          </ng-template>

          <ng-template #loadingTemplate>
            <app-spinner></app-spinner>
          </ng-template>
          <ng-container *ngIf="costs !== null; else loadingTemplate">
            <div *ngIf="costs.costs > 0; else noCostsTemplate">
              <div
                *ngIf="!!costs.details"
                [innerHTML]="costs.details | markdown | async"
              ></div>

              <div class="costs">
                <ng-container i18n="@@label.cost_per_run">
                  Cost per run:
                </ng-container>
                {{ costs.costs | currency: "USD" : "symbol" : "1.0-10" }}
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <div *ngIf="!launch" class="actions stack align-center">
        <button
          class="circle small"
          [class.busy]="progress.nodes.launching[node.key]"
          [disabled]="progress.nodes.launching[node.key]"
          [appPopover]="{
            content: nodeCostsTemplate,
            disabled: !config.billing.active,
          }"
          (click)="
            !!launches[node.key] ? stopNode(node.key) : runNode(node.key)
          "
        >
          <app-icon
            class="icon"
            [icon]="
              !!launches[node.key]
                ? 'stop'
                : (pipeline.start.nodes | includes: node.key)
                  ? 'play-filled'
                  : 'play'
            "
            [size]="20"
          ></app-icon>
        </button>
        <a
          *ngIf="!!node.value.app"
          class="primary with-icon"
          [routerLink]="['apps', node.key]"
        >
          Edit
        </a>
      </div>
      <ng-template #actionsTemplate>
        <ul class="context-menu">
          <li>
            <button (click)="removeNode(node.key)">
              <app-icon class="icon left" icon="delete" [size]="18"></app-icon>
              <span i18n="@@action.delete">Delete</span>
            </button>
          </li>
        </ul>
      </ng-template>
      <button
        *ngIf="
          mode === 'project' &&
          (userRole.admin | can: project.createdBy | async) &&
          !launches[node.key]
        "
        class="transparent more"
        [appPopover]="{
          content: actionsTemplate,
          trigger: 'click',
          position: 'right',
        }"
      >
        <app-icon class="icon" icon="more" [size]="16" [stroke]="2"></app-icon>
      </button>
      <app-node
        [class.active]="currentNode === node.value"
        [disabled]="mode === 'launch'"
        [id]="node.key"
        [project]="project"
        [node]="node.value"
        [inputs]="
          (!!launches[node.key]
            ? launches[node.key].launchRequest.nodes.get(node.key)?.inputs
            : launchRequest.nodes.get(node.key)?.inputs
          ) | mapToPlain
        "
        [outputs]="
          mode === 'project'
            ? !!launches[node.key]
              ? launches[node.key].launchRequest.nodes.get(node.key)?.outputs
              : (launchRequest.nodes.get(node.key)?.outputs | mapToPlain)
            : null
        "
        [launch]="launch || launches[node.key]"
        (input)="!!flow ? addFlow(node.key, $event) : null"
        (output)="startNodeFlow(node.key, $event)"
        (done)="mode === 'project' ? fillNodeOutputs(node.key, $event) : null"
        (setOutput)="setNodeOutput(node.key, $event.output, $event.value)"
        (takeOutInput)="takeOutPipelineInput($event)"
        (takeOutOutput)="takeOutPipelineOutput($event)"
        (click)="selectNode($event, node.key, node.value)"
      ></app-node>
    </div>

    <ng-container
      *ngIf="
        mode === 'project' && (userRole.admin | can: project.createdBy | async)
      "
    >
      <div
        *ngFor="let f of pipeline.flows | keyvalue"
        class="flow"
        [ngStyle]="
          (pipeline | node: f.value.from | async).arrange
            | shift
              : {
                  x: ui.node.width,
                  y:
                    ((pipeline
                      | node: f.value.from
                      | async
                      | outputIndex: f.value.output) +
                      1) *
                      ui.node.input.height +
                    ui.node.shift,
                }
            | center
              : ((pipeline | node: f.value.to | async).arrange
                  | shift
                    : {
                        y:
                          ((pipeline
                            | node: f.value.to
                            | async
                            | inputIndex: f.value.input
                            | async) +
                            1) *
                            ui.node.input.height +
                          ui.node.shift,
                      })
            | position
        "
      >
        <app-edit-flow-transformer
          *ngIf="!!f.value.transformer"
          [project]="project"
          [launchRequest]="launchRequest"
          [id]="f.key"
          [flow]="f.value"
          [from]="{
            id: f.value.from,
            node: pipeline | node: f.value.from | async,
          }"
          [to]="{ id: f.value.to, node: pipeline | node: f.value.to | async }"
        ></app-edit-flow-transformer>
        <ng-template #actionsTemplate>
          <ul class="context-menu">
            <li>
              <button (click)="removeFlow(f.key)">
                <app-icon
                  class="icon left"
                  icon="delete"
                  [size]="18"
                ></app-icon>
                <span i18n="@@action.delete">Delete</span>
              </button>
            </li>
          </ul>
        </ng-template>
        <button
          class="more transparent"
          [appPopover]="{
            content: actionsTemplate,
            trigger: 'click',
            position: 'right',
          }"
        >
          <app-icon
            class="icon"
            icon="more"
            [size]="16"
            [stroke]="2"
          ></app-icon>
        </button>
      </div>
    </ng-container>

    <svg>
      <defs>
        <pattern
          id="dot-pattern"
          width="15"
          height="15"
          patternUnits="userSpaceOnUse"
        >
          <circle cx="5" cy="5" r="1" fill="white" opacity="0.20" />
        </pattern>
      </defs>
      <rect #gridRef width="100%" height="100%" fill="url(#dot-pattern)" />

      <ng-container
        *ngIf="state === 'flow' && !!flow && !!mouse"
        [ngSwitch]="flow.type"
      >
        <path
          *ngSwitchCase="'node'"
          [attr.d]="
            (pipeline | node: flow.from | async).arrange
              | shift
                : {
                    x: ui.node.width,
                    y:
                      ((pipeline
                        | node: flow.from
                        | async
                        | outputIndex: flow.output) +
                        1) *
                        ui.node.input.height +
                      ui.node.shift,
                  }
              | curve: (mouse | multiply: pipeline.layout.zoom || 1)
          "
        />
        <path
          *ngSwitchCase="'input'"
          [attr.d]="
            (pipeline | pipelineInput: flow.from).arrange
              | curve: (mouse | multiply: pipeline.layout.zoom || 1)
          "
        />
      </ng-container>

      <path
        *ngFor="let f of pipeline.flows | keyvalue"
        [attr.stroke]="f.value.color"
        [attr.d]="
          (pipeline | node: f.value.from | async).arrange
            | shift
              : {
                  x: ui.node.width,
                  y:
                    ((pipeline
                      | node: f.value.from
                      | async
                      | outputIndex: f.value.output) +
                      1) *
                      ui.node.input.height +
                    ui.node.shift,
                }
            | curve
              : ((pipeline | node: f.value.to | async).arrange
                  | shift
                    : {
                        y:
                          ((pipeline
                            | node: f.value.to
                            | async
                            | inputIndex: f.value.input
                            | async) +
                            1) *
                            ui.node.input.height +
                          ui.node.shift,
                      })
        "
      ></path>

      <ng-container *ngFor="let i of pipeline.inputs | keyvalue">
        <path
          class="flow"
          *ngFor="let f of i.value.flows | keyvalue"
          [class.disabled]="
            mode === 'launch' ||
            (userRole.admin | can: project.createdBy | async | not)
          "
          [attr.d]="
            (pipeline | pipelineInput: i.key).arrange
              | curve
                : ((pipeline | node: f.value.to | async).arrange
                    | shift
                      : {
                          y:
                            ((pipeline
                              | node: f.value.to
                              | async
                              | inputIndex: f.value.input
                              | async) +
                              1) *
                              ui.node.input.height +
                            ui.node.shift,
                        })
          "
        />
      </ng-container>

      <ng-container *ngFor="let o of pipeline.outputs | keyvalue">
        <path
          class="flow"
          *ngFor="let f of o.value.flows | keyvalue"
          [class.disabled]="
            mode === 'launch' ||
            (userRole.admin | can: project.createdBy | async | not)
          "
          [attr.d]="
            (pipeline | node: f.value.from | async).arrange
              | shift
                : {
                    x: ui.node.width,
                    y:
                      ((pipeline
                        | node: f.value.from
                        | async
                        | outputIndex: f.value.output) +
                        1) *
                        ui.node.input.height +
                      ui.node.shift,
                  }
              | curve: (pipeline | pipelineOutput: o.key).arrange
          "
        />
        <path
          class="flow"
          *ngIf="!!o.value.from"
          [class.disabled]="
            mode === 'launch' ||
            (userRole.admin | can: project.createdBy | async | not)
          "
          (click)="removeOutput(o.key)"
          [attr.d]="
            (pipeline | pipelineOutput: o.key).arrange
              | curve
                : ((pipeline | node: o.value.from | async).arrange
                    | shift
                      : {
                          x: ui.node.width,
                          y:
                            ((pipeline
                              | node: o.value.from
                              | async
                              | outputIndex: o.value.output) +
                              1) *
                              ui.node.input.height +
                            ui.node.shift,
                        })
          "
        />
      </ng-container>
    </svg>
  </div>
</div>
