@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/variables";

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  header {
    display: flex;
    justify-content: space-between;
  }
}

::ng-deep .popover {
  .node-costs {
    &::ng-deep {
      p {
        margin: 0;
      }
    }
  }

  .run-pipeline {
    display: flex;
    flex-direction: column;
    gap: $gutter-normal;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: $gutter-small;

      li {
        display: grid;
        grid-template-columns: 1fr fit-content(40px);
        gap: $gutter-small;
        align-items: center;
        border-bottom: 1px dotted $graphite-color-60;

        div:first-child {
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        div:last-child {
          text-align: right;
        }
      }
    }
  }
}

.nodes {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background: gray;

  > .actions {
    position: sticky;
    top: 5px;
    left: 5px;
    z-index: 2;
    width: fit-content;
    background: rgba(black, 0.5);
    border-radius: 30px;
    padding: $gutter-big;
    backdrop-filter: blur(5px);
  }

  .locked {
    position: absolute;
    top: -$gutter-small;
    right: -$gutter-small;
    z-index: 1;
    background: white;
    border-radius: 50%;
    padding: 1px;
    display: flex;

    .icon,
    .icon ::ng-deep svg {
      display: block;
      stroke: $graphite-color-100;
    }
  }

  .input,
  .output {
    display: block;
    position: absolute;
    z-index: 1;
    user-select: none;

    &.disabled {
      pointer-events: none;
    }
  }

  .input {
    .more {
      z-index: 1;
      position: absolute;
      top: $gutter-normal;
      right: $gutter-small;
    }

    transform: translate(-100%, -50%);
  }

  .output {
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }

  .node {
    display: block;
    position: absolute;
    z-index: 1;

    &.disabled {
      .actions {
        display: none;
      }
    }

    .actions {
      z-index: 1;
      position: absolute;
      left: 12px;
      top: -32px;
    }

    .more {
      z-index: 1;
      position: absolute;
      top: $gutter-normal;
      right: $gutter-small;
    }
  }

  .pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 5000px;
    height: 5000px;
    background: black;

    > .flow {
      position: absolute;
      z-index: 1;
      transform: translate(-50%, -50%);
      background: rgba($node-background-color, 0.5);
      backdrop-filter: blur(2px);
      border-radius: $corner-large;
      padding: $gutter-small;
      display: flex;
      align-items: center;
      opacity: 0.5;
      transition: opacity 150ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      path {
        stroke-width: 3;
        stroke: rgba($flow-color, 0.85);
        fill: transparent;
        opacity: 0.85;
      }
    }
  }
}
