<div class="sidebar" [class.hidden]="!sidebar.right">
  <div class="content">
    <router-outlet
      name="right"
      #sidebarOutlet="outlet"
      (activate)="sidebar.right = $event"
      (deactivate)="sidebar.right = null"
    ></router-outlet>
  </div>
</div>

<div class="sidebar left" [class.hidden]="!sidebar.left">
  <div class="content">
    <router-outlet
      name="left"
      #sidebarOutlet="outlet"
      (activate)="sidebar.left = $event"
      (deactivate)="sidebar.left = null"
    ></router-outlet>
  </div>
</div>

<div class="modal" [class.hidden]="!modal">
  <header>
    <a
      class="primary with-icon"
      [hotKey]="'escape'"
      (hotKeyPressed)="back()"
      [routerLink]="[{ outlets: { primary: [] } }]"
    >
      <app-icon class="icon right" icon="close"></app-icon>
      <span class="badge">ESC</span>
    </a>
  </header>
  <div class="content filled">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<div
  #nodesRef
  class="nodes area"
  autoHeight
  [scrollInside]="{
    left: pipeline.layout?.left || 0,
    top: pipeline.layout?.top || 0,
  }"
  (updated)="updateLayoutPosition({ left: $event.left, top: $event.top })"
>
  <div
    *ngIf="!readonly && (userRole.admin | can: project.createdBy | async)"
    class="actions stack"
  >
    <a
      class="primary with-icon small"
      [routerLink]="[{ outlets: { left: ['add-node'], right: null } }]"
    >
      <app-icon icon="add" color="white"></app-icon>
    </a>
    <button
      class="primary with-icon small"
      [class.busy]="progress.launching"
      [disabled]="progress.launching"
      (click)="!!launch ? stop() : run()"
    >
      <app-icon [icon]="!!launch ? 'stop' : 'play'" color="white"></app-icon>
      <ng-container *ngIf="config.billing.active">
        <span
          class="badge"
          *ngIf="
            (project._id | pipelineCosts: null : project.revision | async)
              ?.total as total
          "
        >
          {{ total | currency: "USD" : "symbol" : "1.0-10" }}
        </span>
      </ng-container>
    </button>
  </div>

  <div
    #paneRef
    class="pane"
    dropZone
    (drop)="addNode($event.left, $event.top, $event.payload)"
  >
    <div
      class="input"
      [class.disabled]="
        readonly || (userRole.admin | can: project.createdBy | async | not)
      "
      *ngFor="let input of pipeline.inputs | keyvalue"
      #drag="appDragMove"
      [appDragMove]="{
        anchorX: 1,
        anchorY: 0.5,
        position: { x: input.value.arrange.x, y: input.value.arrange.y },
      }"
      (moving)="inputMoving(input.value, $event)"
      (moved)="inputMoved(input.value, $event)"
    >
      <ng-template #actionsTemplate>
        <ul class="context-menu" [class.busy]="progress.deleting">
          <li>
            <button (click)="removeInput(input.key)">
              <app-icon class="icon left" icon="delete" [size]="18"></app-icon>
              <span i18n="@@action.delete">Delete</span>
            </button>
          </li>
        </ul>
      </ng-template>
      <button
        class="more transparent"
        [appPopover]="{
          content: actionsTemplate,
          trigger: 'click',
          position: 'right',
        }"
      >
        <app-icon class="icon" icon="more" [size]="18"></app-icon>
      </button>
      <app-pipeline-input
        [id]="input.key"
        [input]="input.value"
        [value]="launchRequest.inputs?.get(input.key)"
        [project]="project"
        [launchRequest]="launchRequest"
        [attr.disabled]="drag.dragged"
      ></app-pipeline-input>
    </div>

    <div
      class="output"
      [class.disabled]="
        readonly || (userRole.admin | can: project.createdBy | async | not)
      "
      *ngFor="let output of pipeline.outputs | keyvalue"
      [appDragMove]="{
        anchorY: 0.5,
        position: { x: output.value.arrange.x, y: output.value.arrange.y },
      }"
      (moving)="outputMoving(output.value, $event)"
      (moved)="outputMoved(output.value, $event)"
    >
      <app-pipeline-output
        [id]="output.key"
        [output]="output.value"
      ></app-pipeline-output>
    </div>

    <div
      class="node"
      [class.selected]="currentNode === node.value"
      *ngFor="let node of pipeline.nodes | keyvalue; trackBy: trackNode"
      [class.readonly]="
        readonly || (userRole.admin | can: project.createdBy | async | not)
      "
      #drag="appDragMove"
      [appDragMove]="{
        position: { x: node.value.arrange.x, y: node.value.arrange.y },
      }"
      (moving)="nodeMoving(node.value, $event)"
      (moved)="nodeMoved(node.value, $event)"
    >
      <ng-container
        *ngIf="
          (project._id | pipelineCosts: null : project.revision | async)
            ?.nodes?.[node.key] as costs
        "
      >
        <div *ngIf="costs.costs > 0" class="costs">
          <ng-template #detailsTemplate>
            <div
              class="costs-details"
              [innerHTML]="costs.details | markdown | async"
            ></div>
          </ng-template>
          <app-icon
            *ngIf="!!costs.details"
            class="icon"
            icon="info"
            [size]="16"
            [appPopover]="{ content: detailsTemplate, trigger: 'click' }"
          ></app-icon>
          <span>{{ costs.costs | currency: "USD" : "symbol" : "1.0-10" }}</span>
        </div>
      </ng-container>

      <div class="actions stack">
        <button
          class="primary small with-icon icon-only"
          [class.busy]="progress.nodes.launching[node.key]"
          [disabled]="progress.nodes.launching[node.key]"
          (click)="
            !!launches[node.key] ? stopNode(node.key) : runNode(node.key)
          "
        >
          <app-icon
            class="icon"
            [icon]="!!launches[node.key] ? 'stop' : 'play'"
            color="white"
            [size]="18"
          ></app-icon>
        </button>
        <a
          *ngIf="!!node.value.app"
          class="primary with-icon"
          [routerLink]="['apps', node.key]"
        >
          Edit
        </a>
        <ng-template #actionsTemplate>
          <ul class="context-menu" [class.busy]="progress.deleting">
            <li>
              <button (click)="removeNode(node.key)">
                <app-icon
                  class="icon left"
                  icon="delete"
                  [size]="18"
                ></app-icon>
                <span i18n="@@action.delete">Delete</span>
              </button>
            </li>
          </ul>
        </ng-template>
      </div>
      <button
        class="more transparent"
        [appPopover]="{
          content: actionsTemplate,
          trigger: 'click',
          position: 'right',
        }"
      >
        <app-icon class="icon" icon="more" [size]="18"></app-icon>
      </button>
      <app-node
        [class.active]="currentNode === node.value"
        [id]="node.key"
        [node]="node.value"
        [start]="pipeline.start.nodes | includes: node.key"
        [inputs]="launchRequest.nodes.get(node.key)?.inputs | mapToPlain"
        [outputs]="launchRequest.nodes.get(node.key)?.outputs | mapToPlain"
        [launch]="launch || launches[node.key]"
        (input)="!!flow ? addFlow(node.key, $event) : null"
        (output)="startFlow(node.key, $event)"
        (done)="fillNodeOutputs(node.key, $event)"
        (takeOutInput)="takeOutPipelineInput($event)"
        (takeOutOutput)="takeOutPipelineOutput($event)"
        [attr.disabled]="drag.dragged"
        (click)="selectNode($event, node.key, node.value)"
      ></app-node>
    </div>

    <svg>
      <defs>
        <pattern
          id="dot-pattern"
          width="15"
          height="15"
          patternUnits="userSpaceOnUse"
        >
          <circle cx="5" cy="5" r="1" fill="white" opacity="0.10" />
        </pattern>
      </defs>
      <rect #gridRef width="100%" height="100%" fill="url(#dot-pattern)" />

      <path
        *ngIf="mode === 'flow' && !!flow && !!mouse"
        [attr.d]="
          (pipeline | node: flow.from).arrange
            | shift
              : {
                  x: ui.node.width,
                  y:
                    ((pipeline | node: flow.from | outputIndex: flow.output) +
                      1) *
                      ui.node.input.height +
                    ui.node.shift,
                }
            | curve: mouse
        "
      />

      <path
        class="flow"
        *ngFor="let f of pipeline.flows | keyvalue"
        [class.disabled]="
          readonly || (userRole.admin | can: project.createdBy | async | not)
        "
        (click)="removeFlow(f.key)"
        [attr.stroke]="f.value.color"
        [attr.d]="
          (pipeline | node: f.value.from).arrange
            | shift
              : {
                  x: ui.node.width,
                  y:
                    ((pipeline
                      | node: f.value.from
                      | outputIndex: f.value.output) +
                      1) *
                      ui.node.input.height +
                    ui.node.shift,
                }
            | curve
              : ((pipeline | node: f.value.to).arrange
                  | shift
                    : {
                        y:
                          ((pipeline
                            | node: f.value.to
                            | inputIndex: f.value.input
                            | async) +
                            1) *
                            ui.node.input.height +
                          ui.node.shift,
                      })
        "
      ></path>

      <ng-container *ngFor="let i of pipeline.inputs | keyvalue">
        <path
          class="flow"
          *ngFor="let f of i.value.flows | keyvalue"
          [class.disabled]="
            readonly || (userRole.admin | can: project.createdBy | async | not)
          "
          (click)="removeInputFlow(i.key, f.key)"
          [attr.d]="
            (pipeline | pipelineInput: i.key).arrange
              | curve
                : ((pipeline | node: f.value.to).arrange
                    | shift
                      : {
                          y:
                            ((pipeline
                              | node: f.value.to
                              | inputIndex: f.value.input
                              | async) +
                              1) *
                              ui.node.input.height +
                            ui.node.shift,
                        })
          "
        />
      </ng-container>

      <ng-container *ngFor="let o of pipeline.outputs | keyvalue">
        <path
          class="flow"
          *ngFor="let f of o.value.flows | keyvalue"
          [class.disabled]="
            readonly || (userRole.admin | can: project.createdBy | async | not)
          "
          (click)="removeOutputFlow(o.key, f.key)"
          [attr.d]="
            (pipeline | node: f.value.from).arrange
              | shift
                : {
                    x: ui.node.width,
                    y:
                      ((pipeline
                        | node: f.value.from
                        | outputIndex: f.value.output) +
                        1) *
                        ui.node.input.height +
                      ui.node.shift,
                  }
              | curve: (pipeline | pipelineOutput: o.key).arrange
          "
        />
        <path
          class="flow"
          *ngIf="!!o.value.from"
          [class.disabled]="
            readonly || (userRole.admin | can: project.createdBy | async | not)
          "
          (click)="removeOutput(o.key)"
          [attr.d]="
            (pipeline | pipelineOutput: o.key).arrange
              | curve
                : ((pipeline | node: o.value.from).arrange
                    | shift
                      : {
                          x: ui.node.width,
                          y:
                            ((pipeline
                              | node: o.value.from
                              | outputIndex: o.value.output) +
                              1) *
                              ui.node.input.height +
                            ui.node.shift,
                        })
          "
        />
      </ng-container>
    </svg>
  </div>
</div>
