@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/variables";

:host {
  display: block;
}

.modal {
  header {
    display: flex;
    justify-content: space-between;
  }
}

.input,
.output {
  position: relative;

  .more {
    z-index: 1;
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
  }

  &.disabled {
    pointer-events: none;
  }
}

::ng-deep .popover .costs-details {
  &::ng-deep {
    font-size: .75em;

    p {
      margin: 0;
    }
  }
}

::ng-deep .popover .runs {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: $gutter-small;
    align-items: center;

    div {
      border-bottom: 1px dotted $graphite-color-60;
    }
  }
}



.nodes {
  position: relative;
  overflow: scroll;
  height: 600px;

  >.actions {
    position: sticky;
    top: 5px;
    left: 5px;
    z-index: 2;
    width: fit-content;
    background: rgba(black, .5);
    border-radius: $corner-small;
    padding: $gutter-big;
    backdrop-filter: blur(5px);
  }

  .locked {
    position: absolute;
    top: -$gutter-small;
    right: -$gutter-small;
    z-index: 1;
    background: white;
    border-radius: 50%;
    padding: 1px;
    display: flex;

    .icon,
    .icon ::ng-deep svg {
      display: block;
      stroke: $graphite-color-100;
    }
  }

  .input,
  .output {
    display: block;
    position: absolute;
    z-index: 1;
    user-select: none;

    &.disabled {
      pointer-events: none;
    }
  }

  .input {
    transform: translate(-100%, -50%);
  }

  .output {
    transform: translateY(-50%);
  }

  .node {
    display: block;
    position: absolute;
    z-index: 1;

    &.disabled {
      pointer-events: none;

      .actions {
        display: none;
      }
    }

    .costs {
      display: none;
      position: absolute;
      right: 0;
      top: -24px;
      align-items: center;
      color: $graphite-color-100;

      .icon {
        margin-right: $gutter-tiny;
        cursor: pointer;

        &::ng-deep svg {
          stroke: $graphite-color-100;
        }
      }

      span {
        font-size: .75em;
      }
    }

    &.selected .costs {
      display: block;
    }

    .actions {
      z-index: 1;
      position: absolute;
      left: 12px;
      top: -32px;
    }

    .more {
      z-index: 1;
      position: absolute;
      top: $gutter-small;
      right: $gutter-small;
    }
  }

  .pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 5000px;
    height: 2000px;

    >.flow {
      position: absolute;
      z-index: 1;
      transform: translate(-50%, -50%);
      background: rgba($node-background-color, 0.5);
      backdrop-filter: blur(2px);
      border-radius: $corner-large;
      padding: $gutter-small;
      display: flex;
      align-items: center;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;

      path {
        stroke-width: 3;
        stroke: rgba($flow-color, 0.85);
        fill: transparent;
      }
    }
  }
}