@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
    display: block;
    position: relative;
    @include vertical-stack();
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: $gutter-big;

    >* {
        @include vertical-stack($gutter-small);
        display: flex;
        flex-direction: column;
        position: relative;
        background: $control-background-color;
        border-radius: $gutter-small;
        padding: 35px $gutter-normal $gutter-normal $gutter-normal;

        label {
            position: absolute;
            font-weight: bold;
            top: -$gutter-small;
            left: $gutter-small;
            background: $control-background-color;
            padding: $gutter-tiny $gutter-normal;
            border-radius: $gutter-small;
            font-size: $font-size-small;

            sup {
                color: red;
                padding-left: $gutter-tiny;
            }
        }
    }
}