@import "src/ui-kit/styles/variables";
@import "src/variables";

:host {
  display: block;
  background: $node-background-color;
  border-radius: $corner-huge;
  padding: $gutter-big;

  &[disabled=true] {
    pointer-events: none;
  }
}

.circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  margin: auto 0;
  width: 12px;
  height: 12px;
  aspect-ratio: 1;
  background: $flow-color;
  border: 2px solid rgba(black, 0.5);
  border-radius: 50%;
  box-sizing: border-box;

  &:hover {
    background: $node-background-color;
    border-color: $flow-color;
  }
}

label {}