<p class="error" *ngIf="status?.error as error">{{ error }}</p>

<ng-template #ioTemplate let-io="io" let-value="value">
  <ng-container [ngSwitch]="io.type">
    <span *ngSwitchCase="'boolean'">{{
      value !== undefined
        ? value
          ? "yes"
          : "no"
        : io.default !== undefined
          ? io.default
            ? "yes"
            : "no"
          : null
    }}</span>
    <span *ngSwitchCase="'integer'">{{ value }}</span>
    <span *ngSwitchCase="'float'">{{ value }}</span>
    <pre *ngSwitchCase="'json'" [title]="value">{{ value }}</pre>
    <ng-container *ngSwitchCase="'string'">
      {{ value }}
    </ng-container>
    <ng-container *ngSwitchCase="'string[]'">
      {{ value }}
    </ng-container>
    <a *ngSwitchCase="'image'" [href]="value" target="_blank">
      <img [imageSize]="value" [src]="value" />
    </a>
    <a *ngSwitchCase="'video'" [href]="value" target="_blank">
      <video autoplay muted [volume]="0" [src]="value"></video>
    </a>
    <ng-container *ngSwitchCase="'image[]'">
      <a
        *ngFor="let image of value | split: '|'"
        [href]="image"
        target="_blank"
      >
        <img [imageSize]="image" [src]="image" />
      </a>
    </ng-container>
  </ng-container>
</ng-template>

<div class="io">
  <div class="inputs">
    <h2>Inputs</h2>
    <ul>
      <ng-container *ngFor="let g of node.render.inputs">
        <h3 *ngIf="g.group.group?.title as group">{{ group | i18n }}</h3>
        <ng-container *ngFor="let i of g.group.inputs">
          <li
            *ngIf="!i.input.hidden"
            [attr.data-type]="i.input.type"
            [class.filled]="!!inputs?.[i.id]"
          >
            <b>{{ i.input.title | i18n }}</b>
            <div [attr.data-type]="i.input.type">
              <ng-container *ngIf="inputs?.[i.id] as value">
                <ng-container
                  *ngTemplateOutlet="
                    ioTemplate;
                    context: { io: i.input, value }
                  "
                ></ng-container>
              </ng-container>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
  <div class="split"></div>
  <div class="outputs">
    <h2>Outputs</h2>
    <ul>
      <li
        *ngFor="let o of node.outputs | keyvalue"
        [attr.data-type]="o.value.type"
        [class.filled]="outputs?.[o.key]"
      >
        <b>{{ o.value.title | i18n }}</b>
        <div [attr.data-type]="o.value.type">
          <ng-container *ngIf="outputs?.[o.key] as value">
            <ng-container
              *ngTemplateOutlet="ioTemplate; context: { io: o.value, value }"
            ></ng-container>
          </ng-container>
        </div>
      </li>
    </ul>
  </div>
</div>
