@import 'src/ui-kit/styles/mixins';
@import 'src/ui-kit/styles/variables';

:host {
    display: block;

    @include wider-mobile() {
        height: 100vmin;
        background: linear-gradient(305deg, #f388fc, #34ab9d, #d3a657, #880fb8, #98a6ee);
        background-size: 300% 300%;
        animation: gradient-animation 40s ease infinite;

        .app-container {
            height: 100vmin;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @include for-mobile() {
        padding: $gutter-large $gutter-small;
    }
}


@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.frame {
    @include vertical-stack();
    position: relative;

    @include wider-mobile() {
        background-color: $control-background-color;
        padding: $gutter-huge;
        border-radius: $corner-base;
    }

    @include for-mobile() {
        width: 100%;
    }

    @include wider-mobile() {
        min-width: 300px;
    }

    .select-language {
        position: absolute;
        top: $gutter-normal;
        right: $gutter-normal;
    }

    h1,
    p {
        margin: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: $gutter-normal;

        &.disabled {
            opacity: .35;
        }

        fieldset {
            display: flex;
            flex-direction: column;
            gap: $gutter-big;
        }

        footer {
            margin-top: $gutter-big;
        }

    }
}