@import 'src/ui-kit/styles/mixins';
@import 'src/ui-kit/styles/variables';

:host {
    display: block;
    height: 100vmin;
    background: linear-gradient(305deg, #f388fc, #34ab9d, #d3a657, #880fb8, #98a6ee);
    background-size: 300% 300%;
    animation: gradient-animation 40s ease infinite;
}

.app-container {
    height: 100vmin;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@include wider-mobile() {
    form {
        min-width: 300px;
    }
}

.form {
    background-color: white;
    padding: $gutter-big;
    border-radius: $corner-base;
}

form {

    &.disabled {
        opacity: .35;
    }

    fieldset {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: $gutter-big;
    }

    footer {
        margin-top: $gutter-big;
    }

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restore {
    margin-top: $gutter-big;
}