<ng-template #confirmEmailTemplate>
  <form
    class="confirmation"
    data-cy="form-login"
    [formGroup]="form"
    (ngSubmit)="login()"
  >
    <header>
      <p i18n="@@message.confirm_email">
        We sent you an email with a special code to be sure you’re the rightful
        account owner. Please check your inbox and enter the code to continue.
      </p>
    </header>
    <fieldset>
      <input
        class="input-primary fluid"
        id="code"
        name="code"
        [class.error]="form | invalidField: 'code'"
        formControlName="code"
        placeholder="Code from email"
        i18n-placeholder="@@label.code_from_email"
        type="text"
      />
    </fieldset>
    <footer>
      <button
        class="primary fluid"
        [class.busy]="progress.signup"
        [disabled]="progress.signup"
        data-cy="login-button"
        i18n="@@action.register"
        type="submit"
      >
        Register
      </button>
    </footer>
  </form>
</ng-template>

<app-informer
  *ngIf="state.confirm"
  [contentTemplate]="confirmEmailTemplate"
></app-informer>

<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<div class="app-container">
  <div class="frame">
    <ng-template #selectLanguagePopover>
      <app-select-language></app-select-language>
    </ng-template>
    <button
      class="select-language circle"
      [appPopover]="{ content: selectLanguagePopover, trigger: 'click' }"
    >
      <app-icon class="icon" icon="lang"></app-icon>
    </button>

    <div class="stack vertical align-center">
      <img width="60px" height="60px" src="assets/app-logo-square.svg" />
      <h1 i18n="@@label.register">Register</h1>
    </div>

    <form data-cy="form-login" [formGroup]="form" (ngSubmit)="confirm()">
      <fieldset>
        <input
          class="input-primary"
          id="email"
          name="email"
          [class.error]="form | invalidField: 'email'"
          formControlName="email"
          placeholder="Your email"
          i18n-placeholder="@@label.your_email"
          type="text"
        />
        <input
          class="input-primary"
          id="login"
          name="login"
          [class.error]="form | invalidField: 'login'"
          formControlName="login"
          placeholder="Choose a login"
          i18n-placeholder="@@label.choose_login"
          type="text"
        />
        <input
          class="input-primary"
          id="password"
          name="password"
          [class.error]="form | invalidField: 'password'"
          formControlName="password"
          i18n-placeholder="@@label.password"
          data-cy="password"
          placeholder="Password"
          type="password"
        />
      </fieldset>
      <fieldset>
        <ng-hcaptcha
          [siteKey]="config.captcha.key"
          formControlName="captcha"
        ></ng-hcaptcha>
      </fieldset>
      <footer>
        <button
          class="primary fluid"
          [class.busy]="progress.confirmation"
          [disabled]="progress.confirmation"
          data-cy="login-button"
          i18n="@@action.continue"
          type="submit"
        >
          Continue
        </button>
      </footer>
    </form>

    <div class="stack vertical align-center">
      <div class="stack small align-center">
        <a class="button circle light" href="/oauth/google">
          <app-icon class="icon" icon="google"></app-icon>
        </a>
        <a class="button circle light" href="/oauth/yandex">
          <app-icon class="icon" icon="yandex"></app-icon>
        </a>
      </div>

      <p i18n="@@message.already_registered">
        Already registered?
        <a [routerLink]="['/login']">Login</a>
      </p>
    </div>
  </div>
</div>
