<ng-template #userPopover>
  <div class="stack vertical">
    <ng-container *ngIf="me.user$ | async as user">
      <div class="user">
        {{ user._id }}<br />
        <small>{{ user.email }}</small>
      </div>
    </ng-container>

    <div [formGroup]="form" class="stack small align-center">
      <div class="checkbox small">
        <label class="switch">
          <input type="checkbox" formControlName="nsfw" />
          <span class="slider"></span>
        </label>
      </div>
      <small>NSFW</small>
    </div>
    <div class="refill-balance" *ngIf="config.billing.active">
      <p i18n="@@label.refill_balance">Refill balance:</p>
      <ul>
        <li>
          <a
            href="{{ config.billing.url }}/add_5usd?language={{
              language | lowercase
            }}&t={{ config.authorization.token }}"
            >5$</a
          >
        </li>
        <li>
          <a
            href="{{ config.billing.url }}/add_10usd?language={{
              language | lowercase
            }}&t={{ config.authorization.token }}"
            >10$</a
          >
        </li>
        <li>
          <a
            href="{{ config.billing.url }}/add_20usd?language={{
              language | lowercase
            }}&t={{ config.authorization.token }}"
            >20$</a
          >
        </li>
        <li>
          <a
            href="{{ config.billing.url }}/add_40usd?language={{
              language | lowercase
            }}&t={{ config.authorization.token }}"
            >40$</a
          >
        </li>
      </ul>
    </div>

    <ul class="context-menu">
      <li>
        <button (click)="changePassword()">
          <app-icon class="icon left" [icon]="'password'"></app-icon>
          <ng-container i18n="@@action.change_password">
            Change password
          </ng-container>
        </button>
      </li>
      <ng-container *ngIf="!!config.billing.url">
        <li>
          <a
            [routerLink]="['/expenses']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="references.popover?.hide()"
            i18n="@@link.expenses"
          >
            <app-icon class="icon left" [icon]="'dollar'"></app-icon>
            Expenses
          </a>
        </li>
      </ng-container>
      <li>
        <button (click)="logout()" i18n="@@action.logout">
          <app-icon class="icon left" [icon]="'logout'"></app-icon>
          Logout
        </button>
      </li>
    </ul>
  </div>
</ng-template>

<ng-container *ngIf="me.user$ | async as user">
  <ng-container *ngIf="config.billing.active"></ng-container>
  <div *ngIf="user.balance?.remaining as remaining" class="money">
    {{ remaining | countdown | async | currency: "USD" : "symbol" : "1.3-3" }}
  </div>
</ng-container>
<button
  class="circle"
  [appPopover]="{ content: userPopover, trigger: 'click' }"
  (attached)="references.popover = $event"
>
  <app-icon class="icon" [icon]="'user'" [size]="18"></app-icon>
</button>
