@import "src/ui-kit/styles/variables";

:host {
  display: block;
  flex: 1;
  position: relative;
}

.monaco {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 400px;
  height: 100%;
}