<form [formGroup]="form">
  <div autoScroll class="chat">
    <ng-container *ngFor="let m of messages">
      <div
        class="message"
        [attr.data-from]="m.from !== 'assistant' ? 'user' : 'assistant'"
      >
        <div *ngIf="m.message" [innerHTML]="m.message | markdown | async"></div>
        <ul *ngIf="m.changes?.length > 0">
          <li *ngFor="let c of m.changes">
            <ng-container [ngSwitch]="c.action">
              <ng-container
                *ngSwitchCase="'add_node_from_catalog'"
                i18n="@@action.add_node"
              >
                Add node
              </ng-container>
              <ng-container *ngSwitchCase="'add_node'" i18n="@@action.add_node">
                Add node
              </ng-container>
              <ng-container
                *ngSwitchCase="'remove_node'"
                i18n="@@action.remove_node"
              >
                Remove node
              </ng-container>
              <ng-container
                *ngSwitchCase="'replace_node'"
                i18n="@@action.replace_node"
              >
                Replace node: {{ c.data.id }}
              </ng-container>
              <ng-container *ngSwitchCase="'add_flow'" i18n="@@action.add_flow">
                Add flow
              </ng-container>
            </ng-container>
          </li>
        </ul>
      </div>
    </ng-container>
    <div *ngIf="progress.sending">
      <app-spinner></app-spinner>
    </div>

    <div
      class="stack justify-center"
      *ngIf="messages.length > 0 && !progress.loading && !progress.sending"
    >
      <button
        class="primary small with-icon"
        [class.busy]="progress.clearing"
        [disabled]="progress.clearing"
        (click)="clear()"
      >
        <app-icon class="icon left" icon="delete" [size]="18"></app-icon>
        <ng-container i18n="@@action.clear_history">Clear history</ng-container>
      </button>
    </div>
  </div>

  <div class="active-node" *ngIf="!!node">{{ node.node.title | i18n }}</div>

  <fieldset>
    <textarea
      [hotKey]="'enter'"
      class="input-primary"
      formControlName="question"
      placeholder="Ask me anything..."
      i18n-placeholder="@@label.ask_me_anything"
      type="text"
      rows="3"
      (hotKeyPressed)="send()"
    ></textarea>
  </fieldset>
</form>
