<p i18n="@@message.define_global_variables">
  You can override global variables for your pipeline here. In this case we
  won't bill you for execution of this pipeline.
</p>

<ng-template #noVariablesTemplate>
  <p i18n="@@message.no_environment_variables">
    No one node has require environment variables.
  </p>
</ng-template>

<ng-container *ngIf="project.pipeline | pipelineEnvironment | async as schema">
  <form
    *ngIf="
      (schema.properties.variables.properties | keyvalue).length > 0;
      else noVariablesTemplate
    "
    [formGroup]="form"
  >
    <fieldset>
      <app-json-editor
        [schema]="schema"
        formControlName="environment"
        [features]="[]"
      ></app-json-editor>
    </fieldset>
    <footer class="stack horizontal justify-between">
      <button
        class="primary"
        [class.busy]="progress.saving"
        [disabled]="form.invalid || progress.saving"
        (click)="save()"
        i18n="@@action.save"
      >
        Save
      </button>
      <button
        class="delete-button"
        [class.busy]="progress.deleting"
        [disabled]="progress.deleting"
        (click)="clear()"
        i18n="@@action.clear"
      >
        Clear
      </button>
    </footer>
  </form>
</ng-container>
