[submodule "frontend/src/ui-kit"]
	path = frontend/src/ui-kit
	url = git@github.com:My-Piper/Piper-UI-Kit.git
[submodule "translator"]
	path = translator
	url = git@github.com:My-Piper/Translator.git
[submodule "backend/core-kit"]
	path = backend/core-kit
	url = git@github.com:My-Piper/Core-Kit.git
