<header>
  <div class="left">
    <a class="logo" [href]="appConfig.siteUrl">
      <div class="beta">beta</div>
      <img width="130px" height="32px" src="assets/app-logo.svg?v=y" />
    </a>

    <ul>
      <li *ngIf="userRole.admin | can | async">
        <a
          [routerLink]="['packages']"
          [state]="{scroll: 'top'}"
          routerLinkActive="active"
          i18n="@@link.node_packages"
          >Node packages</a
        >
      </li>
      <li>
        <a
          [routerLink]="['projects']"
          [state]="{scroll: 'top'}"
          routerLinkActive="active"
          i18n="@@link.pipelines"
          >Pipelines</a
        >
      </li>
      <li>
        <a
          [routerLink]="['play']"
          [state]="{scroll: 'top'}"
          routerLinkActive="active"
          i18n="@@link.playground"
          >Playground</a
        >
      </li>
      <li>
        <a
          [routerLink]="['launches']"
          [state]="{scroll: 'top'}"
          routerLinkActive="active"
          i18n="@@link.launches"
          >Launches</a
        >
      </li>
      <li>
        <a
          [routerLink]="['assets']"
          [state]="{scroll: 'top'}"
          routerLinkActive="active"
          i18n="@@link.assets"
          >Assets</a
        >
      </li>
      <li *ngIf="userRole.admin | can | async">
        <a
          [routerLink]="['users']"
          [state]="{scroll: 'top'}"
          routerLinkActive="active"
          i18n="@@link.users"
          >Users</a
        >
      </li>
    </ul>
  </div>

  <div class="stack horizontal small">
    <ng-template #selectLanguagePopover>
      <app-select-language></app-select-language>
    </ng-template>
    <button
      class="circle"
      [appPopover]="{content: selectLanguagePopover, trigger: 'click'}"
    >
      <app-icon class="icon" icon="lang"></app-icon>
    </button>
    <app-me-user class="me"></app-me-user>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div [innerHTML]="appConfig.ui.appFooter | i18n: { mode: 'multiline' }"></div>
</footer>
