@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
    display: block;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: $gutter-normal;
    justify-content: space-between;
    background-color: $control-background-color;
    padding: $gutter-normal;
    gap: $gutter-normal;

    @include less-tablet() {
        flex-direction: column;
    }

    .left {
        display: flex;
        gap: $gutter-normal;
        column-gap: $gutter-huge;
        align-items: center;

        @include less-tablet() {
            flex-direction: column;
        }

        .logo {
            position: relative;

            img {
                display: block;
            }

            .beta {
                position: absolute;
                top: -6px;
                right: -8px;
                color: white;
                font-size: .55em;
                padding: 1px 3px;
                line-height: 1em;
                border-radius: $corner-small;
                background: linear-gradient(135deg, #6e00ff, #b500f9);
            }
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            gap: $gutter-large;

            @include less-tablet() {
                flex-wrap: wrap;
                justify-content: center;
            }

            li {
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: white;
                    line-height: 1.45em;
                    border-radius: $corner-large;
                    padding: $gutter-small $gutter-normal;

                    &.active {
                        background-color: $control-focus-background-color;
                    }
                }
            }
        }
    }

    ::ng-deep button.circle {
        .icon svg {
            stroke: white !important;
        }

        background-color: rgba(white, 0.1);
    }

    .me ::ng-deep {
        .remaining {
            color: white;
        }
    }

}

main {
    @include wider-tablet() {
        padding: 20px;
        min-height: calc(100vmin - 200px);
    }
}

footer {
    margin-top: $gutter-normal;
    border-top: 1px solid $graphite-color-60;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $gutter-normal;
        gap: $gutter-small;
        font-size: .85em;
        color: $graphite-color-300;

        @include less-tablet() {
            flex-direction: column;
        }

        @include wider-tablet() {
            margin: 0 auto;
            max-width: 960px;
        }
    }
}