<header>
  <div class="left">
    <a class="logo" href="/">
      <div class="beta">beta</div>
      <img width="143px" height="35px" src="assets/app-logo.svg?v=y" />
    </a>

    <ul>
      <li *ngIf="userRole.admin | can | async">
        <a
          [routerLink]="['packages']"
          routerLinkActive="active"
          i18n="@@link.node_packages"
          >Node packages</a
        >
      </li>
      <li>
        <a
          [routerLink]="['projects']"
          routerLinkActive="active"
          i18n="@@link.pipelines"
          >Pipelines</a
        >
      </li>
      <li>
        <a
          [routerLink]="['play']"
          routerLinkActive="active"
          i18n="@@link.playground"
          >Playground</a
        >
      </li>
      <li>
        <a
          [routerLink]="['launches']"
          routerLinkActive="active"
          i18n="@@link.launches"
          >Launches</a
        >
      </li>
      <li>
        <a
          [routerLink]="['assets']"
          routerLinkActive="active"
          i18n="@@link.assets"
          >Assets</a
        >
      </li>
      <li *ngIf="userRole.admin | can | async">
        <a
          [routerLink]="['users']"
          routerLinkActive="active"
          i18n="@@link.users"
          >Users</a
        >
      </li>
    </ul>
  </div>

  <div class="stack horizontal small">
    <ng-template #selectLanguagePopover>
      <app-select-language></app-select-language>
    </ng-template>
    <button
      class="circle"
      [appPopover]="{content: selectLanguagePopover, trigger: 'click'}"
    >
      <app-icon class="icon" icon="lang"></app-icon>
    </button>
    <app-me-user class="me"></app-me-user>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div>
    <small>Pipelines builder 2025</small>
    <ul class="menu">
      <li>
        <a
          class="with-icon"
          target="_blank"
          href="https://github.com/My-Piper/Piper/issues/new?template=bug_report.md"
        >
          Report a bug
          <app-icon class="icon right" [size]="16" icon="open-link"></app-icon>
        </a>
      </li>
      <li>|</li>
      <li>
        <a
          class="with-icon"
          target="_blank"
          href="https://github.com/My-Piper/Piper/discussions/"
        >
          Community
          <app-icon class="icon right" [size]="16" icon="open-link"></app-icon>
        </a>
      </li>
    </ul>
  </div>
</footer>
