<ng-template #errorTemplate>
  <div class="informer errors">
    <p>{{ error.message }}</p>
    <ul *ngIf="error?.details as details">
      <li *ngFor="let m of details">{{ m }}</li>
    </ul>
    <div class="stack horizontal justify-center">
      <button class="primary" (click)="error = null">Ok</button>
    </div>
  </div>
</ng-template>

<app-informer
  *ngIf="!!error"
  [contentTemplate]="errorTemplate"
  (ok)="error = null"
></app-informer>

<div class="modal" [class.hidden]="!modal">
  <header>
    <a
      class="primary with-icon"
      [hotKey]="'escape'"
      (hotKeyPressed)="back()"
      [routerLink]="['./']"
    >
      <app-icon class="icon right" icon="close"></app-icon>
      <span class="badge">ESC</span>
    </a>
  </header>
  <div class="content filled centered">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<div class="app-container">
  <header>
    <a class="primary with-icon" [routerLink]="['add']" i18n="@@action.create">
      <app-icon class="icon left" icon="add"></app-icon>
      Create
    </a>
  </header>

  <table class="default">
    <thead>
      <th width="24px"></th>
      <th i18n="@@label.login">Login</th>
      <th i18n="@@label.email">Email</th>
      <th i18n="@@label.created_at" width="120px">Created at</th>
      <th width="24px"></th>
    </thead>
    <tbody>
      <tr *ngFor="let u of users; let i = index">
        <td>
          <ng-template #actionsTemplate>
            <ul class="context-menu" [class.busy]="progress.deleting">
              <li>
                <button (click)="remove(i, u)">
                  <app-icon
                    class="icon left"
                    icon="delete"
                    [size]="18"
                  ></app-icon>
                  Delete
                </button>
              </li>
            </ul>
          </ng-template>
          <button
            class="circle small"
            [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
            (attached)="references.popover = $event"
          >
            <app-icon class="icon" icon="menu"></app-icon>
          </button>
        </td>
        <td title="Login" i18n-title="@@label.login">
          <a [routerLink]="[u._id]">
            {{ u._id }}
          </a>
        </td>
        <td title="Email" i18n-title="@@label.email">
          <small>{{ u.email }}</small>
        </td>
        <td title="Created at" i18n-title="@@label.created_at">
          <small>{{ u.createdAt | date }}</small>
        </td>
        <td>
          <div class="stack horizontal tiny align-center">
            <app-icon
              *ngIf="u.roles | includes: userRole.admin"
              [icon]="'admin'"
              [size]="20"
            ></app-icon>
          </div>
        </td>
      </tr>
      <tr class="loading" *ngIf="progress.loading">
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="chunk.length > 0 && !progress.loading"
    [inViewport]
    (visible)="loadMore()"
  ></div>
</div>
