@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
    display: block;
    @include vertical-stack();
    padding: $gutter-small;
}

:host-context(.project-playground) {
    .launches {

        @include wider-desktop() {
            grid-template-columns: repeat(8, 1fr);
        }

        @include for-desktop() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-tablet() {
            grid-template-columns: repeat(2, 1fr);
        }

        @include for-mobile() {
            grid-template-columns: 1fr;
        }

    }
}

.launches {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    min-height: 100px;

    @include for-desktop() {
        grid-template-columns: repeat(6, 1fr);
    }

    @include for-tablet() {
        grid-template-columns: repeat(3, 1fr);
    }

    @include for-mobile() {
        grid-template-columns: 1fr;
    }

    .card {
        header {
            .metric {
                position: absolute;
                top: -$gutter-tiny;
                right: -$gutter-tiny;
                background: white;
                padding: $gutter-tiny;
                border-radius: $corner-small;
                font-size: 12px;
            }
        }

        article {
            display: flex;
            flex-direction: column;

            .outputs {
                flex: 1;
            }

            .errors {
                z-index: 1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                backdrop-filter: blur(2px);
            }
        }

        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

:host-context(.project-playground) {
    .launched-by {
        display: none;
    }
}

.inputs {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.75em;

    li {
        display: flex;

        .value {
            margin-left: $gutter-tiny;

            img {
                display: block;
                max-height: 30px;
                border-radius: $corner-small;
            }
        }
    }
}