<ng-template #noDataTemplate>
  <ng-template #emptyTemplate>
    <p i18n="@@message.no_launches_found">
      Launches not found. Please, press <b>RUN</b> button.
    </p>
  </ng-template>
  <ng-container *ngIf="progress.loading; else emptyTemplate">
    <app-skeleton type="cards" [cols]="3"></app-skeleton>
  </ng-container>
</ng-template>

<div
  *ngIf="launches.length > 0; else noDataTemplate"
  class="cards launches"
  [class.busy-block]="launches.length <= 0 && progress.loading"
>
  <div class="card" *ngFor="let l of launches; let i = index">
    <header>
      <ng-template #actionsTemplate>
        <ul class="context-menu" [class.busy]="progress.removing[i]">
          <li>
            <a
              class="link"
              [routerLink]="[l._id]"
              (click)="references.popover?.hide()"
            >
              <app-icon
                class="icon left"
                icon="open-link"
                [size]="18"
              ></app-icon>
              <ng-container i18n="@@link.open_pipeline">
                Open pipeline
              </ng-container>
            </a>
          </li>
          <li *ngIf="userRole.admin | can: l.launchedBy | async">
            <button (click)="remove(i, l)">
              <app-icon class="icon left" icon="delete" [size]="18"></app-icon>
              <ng-container i18n="@@action.delete">Delete</ng-container>
            </button>
          </li>
        </ul>
      </ng-template>
      <button
        class="actions"
        [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
        (attached)="references.popover = $event"
      >
        <app-icon class="icon" icon="menu"></app-icon>
      </button>

      <div
        class="metric"
        *ngIf="l._id | pipelineFinishedMetric | async as metric"
      >
        {{ metric.fromStart }} sec
      </div>
    </header>
    <article>
      <ng-template #errorsTemplate>
        <ul>
          <li *ngFor="let error of l.errors">{{ error }}</li>
        </ul>
      </ng-template>
      <div class="errors" *ngIf="l.errors?.length > 0">
        <button class="transparent" [appPopover]="{ content: errorsTemplate }">
          <app-icon icon="error" [color]="'red'"></app-icon>
        </button>
      </div>
      <app-launch-outputs
        class="outputs"
        mode="card"
        [launch]="l"
      ></app-launch-outputs>
    </article>
    <footer>
      <ng-template #inputsPopover>
        <ng-template #emptyInputs>Inputs are not filled yet.</ng-template>
        <ul *ngIf="!!l.inputs; else emptyInputs" class="inputs">
          <li *ngFor="let i of l.inputs | keyvalue | orderBy: ['value.order']">
            <b>{{ i.value.title | i18n }}:</b>
            <div class="value" [ngSwitch]="i.value.type">
              <ng-container *ngSwitchCase="'image'">
                <img [src]="i.value.data?.url | proxyImage: { width: 100 }" />
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ i.value.data?.value }}
              </ng-container>
            </div>
          </li>
        </ul>
      </ng-template>
      <button class="transparent" [appPopover]="{ content: inputsPopover }">
        <app-icon icon="info"></app-icon>
      </button>
      <span
        *ngIf="l.launchedBy?._id === config.authorization._id"
        class="launched-by"
      >
        by {{ l.launchedBy?.name }} |
      </span>

      {{ l.launchedAt | timePassed }}
    </footer>
  </div>
</div>

<div
  *ngIf="chunk.length > 0 && !progress.loading"
  [inViewport]
  (visible)="loadMore()"
></div>
