@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
    display: block;

}

.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-small;

    li {
        font-size: 0.85em;
    }
}

.publish {
    @include vertical-stack();
    align-items: flex-start;
}