<ng-template #noInputsTemplate>
  <p>
    No inputs for node, please go to <a [routerLink]="['design']">Design</a>
  </p>
</ng-template>
<ng-container *ngIf="node.render.inputs as groups">
  <form *ngIf="groups.length > 0; else noInputsTemplate" [formGroup]="form">
    <ng-container *ngFor="let g of groups">
      <h2 *ngIf="g.group.group?.title as group">
        <span *ngIf="userRole.admin | can | async">
          [{{ g.group.group.order }}]
        </span>
        {{ group | i18n }}
      </h2>
      <fieldset class="inputs" formGroupName="inputs">
        <ng-container *ngFor="let i of g.group.inputs">
          <label>
            <span *ngIf="userRole.admin | can | async">
              [{{ i.input.order }}]&nbsp;
            </span>
            {{ i.input.title | i18n }}
            <ng-template #inputDescriptionPopover>
              <div [innerHTML]="i.input.description | markdown | async"></div>
            </ng-template>
            <button
              class="transparent"
              [appPopover]="{ content: inputDescriptionPopover }"
              *ngIf="i.input.description"
            >
              <app-icon class="icon" icon="help"></app-icon>
            </button>
          </label>
          <app-edit-input
            [id]="i.id"
            [type]="i.input.type"
            [enum]="i.input.enum"
            [freeform]="i.input.freeform"
            [multiline]="i.input.multiline"
            [default]="i.input.default"
            [placeholder]="i.input.placeholder"
            [min]="i.input.min"
            [max]="i.input.max"
            [step]="i.input.step"
            [formControlName]="i.id"
            [extensions]="i.input.extensions"
            [inputsForm]="inputsGroup"
          ></app-edit-input>
        </ng-container>
      </fieldset>
    </ng-container>
  </form>
</ng-container>
