@import "src/ui-kit/styles/variables";
@import "src/variables";
@import "src/ui-kit/styles/reset";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
}

::ng-deep .popover {
  .description {
    max-width: 300px;
  }
}

header {
  input {
    @include reset-input();
    font-size: $font-size-big;
    flex: 1;
    min-width: 0;
    width: 100%;
    font-weight: bold;
  }
}

h2 {
  font-size: $font-size-big;
  margin: 0;
  padding: 0;
}

.order {
  font-family: monospace;
  font-size: 0.75em;
  line-height: 1em;
}

form {
  display: flex;
  flex-direction: column;
  gap: $gutter-huge;
  align-items: stretch;

  .inputs {

    .span {
      font-size: 1.35em;
      line-height: 1em;
    }

    :empty {
      display: none;
    }

    .disabled {
      opacity: .5;
      pointer-events: none;
      filter: blur(5px);
    }

    input,
    textarea {
      width: 100%;
    }

    .json {
      border: 1px solid silver;
    }

    .select-asset {
      margin-top: 10px;
    }
  }

  .editor {
    border: 1px solid silver;
    border-radius: 5px;
    overflow: hidden;
  }
}

.dynamic {
  &:empty {
    display: none;
  }
}

footer {
  margin-top: $gutter-big;
}