@import "src/ui-kit/styles/variables";
@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
}

::ng-deep .popover {
  .description {
    max-width: 400px;
  }
}

h1,
h2 {
  font-size: $font-size-big;
  margin: 0;
  padding: 0;
}

.inputs {
  :empty {
    display: none;
  }

  .disabled {
    opacity: .5;
    pointer-events: none;
    filter: blur(5px);
  }

  .order {
    font-family: monospace;
    font-size: 0.75em;
    line-height: 1em;
  }

  input,
  textarea {
    width: 100%;
  }

  .json {
    border: 1px solid silver;
  }

  .select-asset {
    margin-top: 10px;
  }
}

.editor {
  border: 1px solid silver;
  border-radius: 5px;
  overflow: hidden;
}

footer {
  margin-top: $gutter-big;
}