<ng-template #noInputsTemplate>
  <p>No inputs for node.</p>
</ng-template>

<header class="stack vertical" [formGroup]="form">
  <div class="stack horizontal align-center">
    <input type="text" formControlName="title" />
    <ng-template #descriptionPopover>
      <div
        class="description"
        [innerHTML]="node.description | markdown | async"
      ></div>
    </ng-template>
    <app-icon
      *ngIf="node.description as description"
      icon="info"
      [size]="18"
      [appPopover]="{ content: descriptionPopover }"
    ></app-icon>
  </div>

  <form [formGroup]="form">
    <fieldset>
      <div class="stack align-center">
        <div class="checkbox">
          <label class="switch">
            <input type="checkbox" formControlName="start" />
            <span class="slider"></span>
          </label>
        </div>
        <span i18n="@@label.auto_start">Auto start</span>
        <ng-template #autoStartPopover>
          <div i18n="@@message.auto_start">
            Will be executed when the pipeline is started.
          </div>
        </ng-template>
        <app-icon
          icon="info"
          [appPopover]="{ content: autoStartPopover }"
          size="18"
        ></app-icon>
      </div>
    </fieldset>
  </form>
</header>

<hr />

<ng-container *ngIf="node.render.inputs as groups">
  <ng-container *ngIf="groups.length > 0; else noInputsTemplate">
    <form [formGroup]="form">
      <ng-container *ngFor="let g of groups">
        <h2 class="stack align-center" *ngIf="g.group.group?.title as group">
          {{ group | i18n }}
          <div class="order" *ngIf="userRole.admin | can | async">
            {{ g.group.group?.order }}
          </div>
        </h2>
        <fieldset class="inputs stack vertical huge" formGroupName="inputs">
          <ng-container *ngFor="let i of g.group.inputs">
            <div class="input stack vertical" [formGroupName]="i.id">
              <div class="stack align-center justify-between">
                <div class="stack align-center flex">
                  <div class="order" *ngIf="userRole.admin | can | async">
                    {{ i.input.order }}
                  </div>
                  <div>
                    {{ i.input.title | i18n }}
                    <span class="required" *ngIf="i.input.required">&ast;</span>
                  </div>
                  <ng-template #inputDescriptionPopover>
                    <div
                      [innerHTML]="i.input.description | markdown | async"
                    ></div>
                  </ng-template>
                  <app-icon
                    *ngIf="i.input.description"
                    [appPopover]="{ content: inputDescriptionPopover }"
                    icon="help"
                    [color]="ui.color.grey"
                    [size]="18"
                  ></app-icon>
                </div>
                <div class="stack small">
                  <button
                    *ngIf="i.input.cloned"
                    class="circle small"
                    (click)="removeInput(i.id)"
                  >
                    <app-icon class="icon" icon="minus" [size]="12"></app-icon>
                  </button>
                  <button
                    class="circle small"
                    (click)="
                      i.input.featured
                        ? markUnFeatured(i.id)
                        : markFeatured(i.input)
                    "
                  >
                    <app-icon
                      class="icon"
                      [icon]="i.input.featured ? 'in' : 'out'"
                      [size]="12"
                    ></app-icon>
                  </button>
                </div>
              </div>
              <app-edit-input
                *ngIf="
                  (project.pipeline | inputFlows: id : i.id | async | length) <=
                  0
                "
                [id]="i.id"
                [type]="i.input.type"
                [enum]="i.input.enum"
                [freeform]="i.input.freeform"
                [multiline]="i.input.multiline"
                [default]="i.input.default"
                [placeholder]="i.input.placeholder"
                [min]="i.input.min"
                [max]="i.input.max"
                [step]="i.input.step"
                formControlName="value"
                [inputs]="inputsGroup"
              ></app-edit-input>
            </div>
          </ng-container>
        </fieldset>
      </ng-container>
    </form>
    <div class="dynamic stack horizontal wrap">
      <ng-container *ngFor="let g of groups">
        <ng-container *ngFor="let i of g.group.inputs">
          <button
            *ngIf="!!i.input.dynamic && !i.input.cloned"
            class="primary with-icon"
            (click)="addDynamic(i.input)"
          >
            <app-icon class="icon left" icon="add" [size]="16"></app-icon>
            {{ i.input.dynamic.title | i18n }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<footer class="stack justify-between">
  <button submitButton class="primary" (click)="reset()" i18n="@@action.reset">
    Reset
  </button>

  <ng-template #toolsPopover>
    <ul class="context-menu">
      <li>
        <a *ngIf="userRole.engineer | can | async" (click)="edit()">
          <app-icon
            class="icon left"
            [icon]="node.locked ? 'lock' : 'lock'"
            [size]="16"
          ></app-icon>
          <ng-container i18n="@@action.edit">(E)dit</ng-container>
        </a>
      </li>
      <li>
        <button (click)="reorder()">
          <ng-container i18n="@@action.reorder">Reorder</ng-container>
        </button>
      </li>
    </ul>
  </ng-template>
  <button
    [hotKey]="'meta+e'"
    class="primary small with-icon icon-only"
    [appPopover]="{ content: toolsPopover }"
    (hotKeyPressed)="edit()"
    (attached)="references.popover = $event"
  >
    <app-icon class="icon" icon="menu" [size]="18"></app-icon>
  </button>
</footer>
