<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<form data-cy="form-login" [formGroup]="form" (ngSubmit)="changePassword()">
  <fieldset>
    <p
      class="error"
      *ngIf="form | invalidField: 'password'"
      i18n="@@message.password_requirements"
    >
      Min length 6 characters.
    </p>
    <input
      class="input-primary"
      [class.error]="form | invalidField: 'password'"
      formControlName="password"
      placeholder="Password"
      i18n-placeholder="@@label.password"
      type="password"
    />
    <input
      class="input-primary"
      [class.error]="form | invalidField: 'confirmPassword'"
      formControlName="confirmPassword"
      placeholder="Confirm password"
      i18n-placeholder="@@label.confirm_password"
      type="password"
    />
    <p
      class="error"
      *ngIf="form.errors?.['passwordMismatch'] && form.touched"
      i18n="@@message.password_mismatch"
    >
      Passwords do not match.
    </p>
  </fieldset>
  <footer>
    <button
      class="primary fluid"
      [class.busy]="progress.changing"
      [disabled]="progress.changing"
      i18n="@@action.change_password"
      type="submit"
    >
      Change password
    </button>
  </footer>
</form>
