@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
    display: block;
}

form {
    @include vertical-stack();

    p.error {
        margin: 0;
        color: $error-color;
        font-size: .85em;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: $gutter-normal;
    }

    @include for-mobile() {
        width: 100%;
    }

    @include wider-mobile() {
        min-width: 350px;
    }
}