@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/reset";
@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-small;
  user-select: none;
  background: rgba($node-background-color, 0.75);
  border-radius: $corner-huge;
  padding: $gutter-big;

  &.multiline[data-type=string] {
    min-width: 250px;
  }

  &:not(.multiline)[data-type=string] {
    max-width: 150px;
  }

  &[data-type=image] {
    max-width: 100px;
  }

  &[disabled=true] {
    pointer-events: none;
  }
}

.title {
  margin-right: $gutter-huge;
}

.circle {
  @include reset-button();

  position: absolute;
  top: 0;
  bottom: 0;
  right: -8px;
  margin: auto 0;
  width: 18px;
  height: 18px;
  aspect-ratio: 1;
  background: $flow-color;
  border: 5px solid $node-background-color;
  border-radius: 50%;

  &:hover {
    background: $node-background-color;
    border-color: $flow-color;
  }
}