@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";


:host {
    display: grid;
    grid-template-columns: .3fr .7fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header header"
        "project launches";
    gap: $gutter-big;
    padding: $gutter-normal;
    box-sizing: border-box;

    @include less-tablet() {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "project"
            "launches";
    }
}

header {
    grid-area: header;

    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "actions title me";
    align-items: flex-start;
    gap: $gutter-big;

    @include for-mobile() {
        grid-template-columns: 1fr;
        grid-template-areas: "actions me" "title title";
    }

    .actions {
        grid-area: actions;
    }

    .title {
        grid-area: title;

        h1 {
            margin: 0;
            line-height: 1em;
        }
    }

    .me {
        grid-area: me;
    }
}

.project {
    grid-area: project;
}

.launches {
    grid-area: launches;
    overflow: hidden;

    .menu {
        margin-bottom: $gutter-big;
    }
}