<ng-template #projectsTemplate>
  <app-select-playground (selected)="go($event)"></app-select-playground>
</ng-template>

<header class="stack horizontal justify-between">
  <div class="stack horizontal">
    <a class="circle" [routerLink]="['../..']">
      <app-icon class="icon" [icon]="'chevron-left'"></app-icon>
    </a>
    <div class="stack horizontal">
      <button
        class="circle"
        [appPopover]="{ content: projectsTemplate, trigger: 'click' }"
        (attached)="instances.popopver = $event"
      >
        <app-icon class="icon" [icon]="'menu'"></app-icon>
      </button>
      <div>
        <h1>
          {{ project.title | i18n }}
        </h1>
        <small *ngIf="project.pipeline.description as description">{{
          description | i18n
        }}</small>
      </div>
    </div>
  </div>
  <app-me-user></app-me-user>
</header>

<div class="project">
  <app-project-playground></app-project-playground>
</div>

<div class="project-playground launches">
  <ul class="menu">
    <li>
      <a
        [routerLink]="['readme']"
        routerLinkActive="active"
        i18n="@@link.readme"
        >README</a
      >
    </li>
    <li>|</li>
    <li>
      <a
        [routerLink]="['./']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        i18n="@@link.launches"
        >Launches</a
      >
    </li>
    <li>|</li>
    <li>
      <a [routerLink]="['comments']" routerLinkActive="active">
        <ng-container i18n="@@link.comments">Comments</ng-container>
        <div *ngIf="summary?.comments as comments" class="badge">
          {{ comments }}
        </div>
      </a>
    </li>
    <li>|</li>
    <ng-container *ngIf="project.deploy as deploy">
      <li>
        <a
          [routerLink]="['api', deploy.slug]"
          routerLinkActive="active"
          i18n="@@link.api"
          >API</a
        >
      </li>
      <li>|</li>
    </ng-container>
    <li>
      <a
        [routerLink]="['batches']"
        routerLinkActive="active"
        i18n="@@link.batches"
        >Batches</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
