@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
  flex: 1;
}

h1 {
  margin: 0;
  line-height: 1em;
}

.child {
  flex: 1;

  ::ng-deep>* {
    height: 100%;
  }
}