<h1>{{ node.title | i18n }}</h1>
<small *ngIf="node.description as description">{{ description | i18n }}</small>

<header>
  <ul class="menu">
    <li>
      <a
        [routerLink]="['./']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >Design</a
      >
    </li>
    <li>
      <a [routerLink]="['script']" routerLinkActive="active">Script</a>
    </li>
    <li>
      <a [routerLink]="['app']" routerLinkActive="app">App</a>
    </li>
    <li>
      <a [routerLink]="['environment']" routerLinkActive="active">
        Environment</a
      >
    </li>
    <li>
      <a [routerLink]="['catalog']" routerLinkActive="active">Catalog</a>
    </li>
    <li>
      <a [routerLink]="['yaml']" routerLinkActive="active">YAML</a>
    </li>
  </ul>
</header>

<div class="child">
  <router-outlet></router-outlet>
</div>
