<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<form [formGroup]="form">
  <fieldset>
    <div class="switcher">
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.rapid }"
        i18n="@@label.rapid"
      >
        Rapid
      </label>
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.regular }"
      >
        <span i18n="@@label.regular">Regular</span>
      </label>
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.deferred }"
      >
        <span i18n="@@label.deferred">Deferred</span>
      </label>
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.protracted }"
      >
        <span i18n="@@label.protracted">Protracted</span>
      </label>
    </div>
  </fieldset>
  <div class="editor">
    <ngx-monaco-editor
      class="monaco"
      formControlName="script"
      [options]="{ language: 'javascript', minimap: { enabled: false } }"
    >
    </ngx-monaco-editor>
  </div>
  <footer>
    <button
      class="primary-button"
      type="button"
      [disabled]="progress.saving"
      [class.busy]="progress.saving"
      (click)="save()"
    >
      Save
    </button>
  </footer>
</form>
