<form [formGroup]="form">
  <fieldset>
    <div class="switcher">
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.rapid }"
        i18n="@@label.rapid"
      >
        Rapid
      </label>
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.regular }"
      >
        <span i18n="@@label.regular">Regular</span>
      </label>
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.deferred }"
      >
        <span i18n="@@label.deferred">Deferred</span>
      </label>
      <label
        class="option"
        formControlName="execution"
        [appSelectable]="{ value: nodeExecution.protracted }"
      >
        <span i18n="@@label.protracted">Protracted</span>
      </label>
    </div>
  </fieldset>
  <fieldset>
    <ngx-monaco-editor
      formControlName="script"
      [options]="{ language: 'javascript', minimap: { enabled: false } }"
      style="height: 600px"
    >
    </ngx-monaco-editor>
  </fieldset>
</form>
