<ng-template #pipelineTab>
  <div class="editor" [formGroup]="form">
    <ngx-monaco-editor
      class="monaco"
      formControlName="pipeline"
      [options]="{ language: 'yaml', theme: 'vs-dark' }"
      style="height: 100%"
    >
    </ngx-monaco-editor>
  </div>
</ng-template>

<ng-template #launchRequestTab>
  <div class="editor" [formGroup]="form">
    <ngx-monaco-editor
      class="monaco"
      formControlName="launchRequest"
      [options]="{ language: 'json', theme: 'vs-dark' }"
    >
    </ngx-monaco-editor>
  </div>
</ng-template>

<ng-template #environmentTab>
  <div class="editor" [formGroup]="form">
    <ngx-monaco-editor
      class="monaco"
      formControlName="environment"
      [options]="{ wordWrap: 'off', language: 'json', theme: 'vs-dark' }"
    >
    </ngx-monaco-editor>
  </div>
</ng-template>

<form>
  <app-tabs
    class="tabs"
    [tabs]="[
      { title: 'Pipeline', content: pipelineTab },
      { title: 'Launch request', content: launchRequestTab },
      { title: 'Environment', content: environmentTab },
    ]"
  ></app-tabs>
  <footer>
    <button
      submitButton
      class="primary"
      [disabled]="form.invalid"
      (click)="save()"
      i18n="@@action.save"
    >
      Save
    </button>
  </footer>
</form>
