@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
    display: block;
    min-width: 500px;

    &[data-mode=select] {
        .artefacts {

            img,
            video {
                height: 100px;
                cursor: pointer;
            }
        }
    }
}

.artefacts {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-normal;
    min-height: 200px;

    img,
    video {
        @include placeholder();
        height: 200px;
    }
}