@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
    display: block;
}

textarea {
    width: 100%;
}

h3 sup {
    color: red;
    padding-left: $gutter-tiny;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background: $control-background-color;
    font-size: .85em;
}

th,
td {
    border: 1px solid $control-border-color;
    padding: 8px;
    text-align: left;

    &:nth-child(1) {
        width: 15%;
        vertical-align: top;
    }
}

code {
    max-width: 30px;
    white-space: pre-wrap;
    word-break: break-word;
}