<ng-template #errorPopover>
  <div>{{ status?.error }}</div>
</ng-template>

<div *ngIf="status?.state === 'error'" class="error">
  <button
    class="transparent with-icon only-icon"
    [appPopover]="{ content: errorPopover }"
  >
    <app-icon class="icon" icon="error" [size]="32"></app-icon>
  </button>
</div>

<div class="node" [class.done]="status?.state === 'done'">
  <h2>{{ node.title | i18n }}</h2>
  <ul class="inputs">
    <ng-container *ngFor="let g of node.render.inputs">
      <ng-container *ngFor="let i of g.group.inputs">
        <ng-template #inputMenuPopover>
          <div class="context-menu">
            <li>
              <button
                (click)="emitTakeOutInput(i.id, i.input)"
                i18n="@@action.take_out"
              >
                Take out
              </button>
            </li>
          </div>
        </ng-template>
        <li *ngIf="i.input.featured">
          <div class="title">{{ i.input.title | i18n }}</div>
          <button
            class="circle"
            [appPopover]="{
              content: inputMenuPopover,
              trigger: 'click',
              position: 'left',
            }"
            (attached)="references.popover = $event"
            (mouseup)="pinTo(i.id)"
          ></button>
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <ul class="outputs">
    <li *ngFor="let o of node.outputs | keyvalue">
      <ng-template #outputMenuPopover>
        <div class="context-menu">
          <li>
            <button
              (click)="emitTakeOutOutput(o.key, o.value)"
              i18n="@@action.take_out"
            >
              Take out
            </button>
          </li>
        </div>
      </ng-template>
      <div class="title">{{ o.value.title | i18n }}</div>
      <button
        class="circle"
        [appPopover]="{
          content: outputMenuPopover,
          trigger: 'click',
          position: 'right',
        }"
        (attached)="references.popover = $event"
        (mousedown)="pinFrom(o.key)"
      ></button>
    </li>
  </ul>

  <ul class="featured" [class.filled]="(outputs | keyvalue)?.length > 0">
    <ng-container *ngFor="let o of node.outputs | keyvalue">
      <li *ngIf="o.value.featured" [attr.data-type]="o.value.type">
        <ng-template #pickArtefactModal>
          <app-artefacts
            mode="select"
            [filter]="{ project: project._id, node: id, type: o.value.type }"
            (selected)="pickArtefact(o.key, $event)"
          ></app-artefacts>
        </ng-template>

        <button
          class="pick-output circle"
          [appModal]="{
            title: 'Pick artefact',
            content: pickArtefactModal,
          }"
        >
          <app-icon icon="cursor" [size]="18"></app-icon>
        </button>

        <ng-container [ngSwitch]="o.value.type">
          <div *ngSwitchCase="'image'" class="image">
            <ng-template #noValueTemplate>
              <div class="no-value">
                <app-icon icon="image" [size]="64"></app-icon>
              </div>
            </ng-template>

            <img
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
              imageFallback
              [imageSize]="value"
              [inspect]="{ type: 'image', url: value }"
              [src]="value | proxyImage: { height: 500 }"
            />
          </div>
          <ng-container *ngSwitchCase="'image[]'">
            <ng-template #noValueTemplate>
              <div class="images">
                <div class="no-value">
                  <app-icon icon="image" [size]="64"></app-icon>
                </div>
              </div>
            </ng-template>

            <ng-container
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
            >
              <div
                *ngIf="value | split: '|' as images"
                class="images"
                [class.multiple]="images.length > 1"
              >
                <img
                  *ngFor="let image of images"
                  imageFallback
                  [inspect]="{ type: 'image', url: image }"
                  [imageSize]="image"
                  [src]="image | proxyImage: { height: 500 }"
                />
              </div>
            </ng-container>
          </ng-container>
          <div *ngSwitchCase="'video'" class="video">
            <ng-template #noValueTemplate>
              <div class="no-value">
                <app-icon icon="video" [size]="64"></app-icon>
              </div>
            </ng-template>

            <video
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
              [inspect]="{ type: 'video', url: value }"
              [src]="value"
              controls
            ></video>
          </div>
          <div *ngSwitchCase="'audio'" class="audio">
            <ng-template #noValueTemplate>
              <div class="no-value">
                <app-icon icon="audio" [size]="64"></app-icon>
              </div>
            </ng-template>

            <audio
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
              [src]="value"
              controls
            ></audio>
          </div>
          <ng-container *ngSwitchCase="'json'">
            <ng-template #noValueTemplate>
              <div class="no-value">
                <app-icon icon="json" [size]="64"></app-icon>
              </div>
            </ng-template>
            <ng-container
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
            >
              <pre class="json" [inspect]="{ type: 'json', text: value }">{{
                value
              }}</pre>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'string'">
            <ng-template #noValueTemplate>
              <div class="no-value">
                <app-icon icon="text" [size]="64"></app-icon>
              </div>
            </ng-template>
            <ng-container
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
            >
              <ng-container [ngSwitch]="o.value.format">
                <div
                  *ngSwitchCase="'markdown'"
                  [inspect]="{ type: 'markdown', text: value }"
                  class="string"
                  [innerHTML]="value | markdown | async"
                ></div>
                <pre
                  *ngSwitchCase="'code'"
                  class="string"
                  [innerHTML]="value | markdown | async"
                ></pre>
                <div *ngSwitchDefault class="string">
                  {{ value }}
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <ng-template #noValueTemplate>
              <div class="no-value">
                <app-icon icon="text" [size]="64"></app-icon>
              </div>
            </ng-template>
            <ng-container
              *ngIf="outputs?.[o.key] as value; else noValueTemplate"
            >
              {{ value }}
            </ng-container>
          </ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ul>

  <div class="progress" *ngIf="status?.state !== 'done' && !!progress">
    <div
      class="processed"
      [style.width.%]="
        progress.processed > 0 ? (progress.processed / progress.total) * 100 : 0
      "
    ></div>
    <div
      class="losses"
      [style.width.%]="
        progress.losses > 0 ? (progress.losses / progress.total) * 100 : 0
      "
    ></div>
  </div>
</div>
