<ng-template #errorPopover>
  <div>{{ status?.error }}</div>
</ng-template>

<div *ngIf="status?.state === 'error'" class="error">
  <button
    class="transparent with-icon only-icon"
    [appPopover]="{ content: errorPopover }"
  >
    <app-icon class="icon" icon="error" [size]="32"></app-icon>
  </button>
</div>

<div class="node" [class.done]="status?.state === 'done'">
  <h2>{{ node.title | i18n }}</h2>
  <ul class="inputs">
    <ng-container *ngFor="let g of node.render.inputs">
      <ng-container *ngFor="let i of g.group.inputs">
        <ng-template #inputMenuPopover>
          <div class="context-menu">
            <li>
              <button (click)="emitTakeOutInput(i.id, i.input)">
                Take out
              </button>
            </li>
          </div>
        </ng-template>
        <li *ngIf="i.input.featured">
          <div class="title">{{ i.input.title | i18n }}</div>
          <button
            class="circle"
            [appPopover]="{
              content: inputMenuPopover,
              trigger: 'click',
              position: 'left',
            }"
            (attached)="references.popover = $event"
            (mouseup)="pinTo(i.id)"
          ></button>
        </li>
      </ng-container>
    </ng-container>
  </ul>
  <ul class="outputs">
    <li *ngFor="let o of node.outputs | keyvalue">
      <ng-template #outputMenuPopover>
        <div class="context-menu">
          <li>
            <button (click)="emitTakeOutOutput(o.key, o.value)">
              Take out
            </button>
          </li>
        </div>
      </ng-template>
      <div class="title">{{ o.value.title | i18n }}</div>
      <button
        class="circle"
        [appPopover]="{
          content: outputMenuPopover,
          trigger: 'click',
          position: 'right',
        }"
        (attached)="references.popover = $event"
        (mousedown)="pinFrom(o.key)"
      ></button>
    </li>
  </ul>

  <ul class="featured">
    <ng-container *ngFor="let o of node.outputs | keyvalue">
      <li *ngIf="o.value.featured">
        <ng-container *ngIf="outputs?.[o.key] as value">
          <ng-container [ngSwitch]="o.value.type">
            <div *ngSwitchCase="'image'" class="image">
              <img
                [imageSize]="value"
                [src]="value | proxyImage: { height: 500 }"
              />
            </div>
            <ng-container *ngSwitchCase="'image[]'">
              <div
                *ngIf="value | split: '|' as images"
                class="images"
                [class.multiple]="images.length > 1"
              >
                <img
                  *ngFor="let image of images"
                  [imageSize]="image"
                  [src]="image | proxyImage: { height: 500 }"
                />
                <button class="artefacts">Open</button>
              </div>
            </ng-container>
            <div class="string" *ngSwitchCase="'string'">
              {{ value }}
            </div>
          </ng-container>
        </ng-container>
      </li>
    </ng-container>
  </ul>

  <div class="progress" *ngIf="status?.state !== 'done' && !!progress">
    <div
      class="processed"
      [style.width.%]="
        progress.processed > 0 ? (progress.processed / progress.total) * 100 : 0
      "
    ></div>
    <div
      class="losses"
      [style.width.%]="
        progress.losses > 0 ? (progress.losses / progress.total) * 100 : 0
      "
    ></div>
  </div>
</div>
