@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/variables";
@import "src/ui-kit/styles/reset";

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

$node-width: 250px;
$node-border-color: rgba($graphite-color-200, 0.25);

:host {
  display: block;
  position: relative;
  width: $node-width;
  box-sizing: border-box;
  user-select: none;
  border: solid 1px rgba($graphite-color-200, 0.45);
  border-radius: $corner-large;
  box-shadow: 2px 2px 2px rgba(black, 0.25);
  background: rgba($node-background-color, 0.75);
  min-height: 100px;

  &.disabled {
    .circle {
      pointer-events: none;
    }
  }

  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &.running {
    --border-angle: 0turn;
    $main-bg: conic-gradient(from var(--border-angle),
        $node-background-color 5%,
        $node-background-color 60%,
        $node-background-color 95%);
    $gradient-border: conic-gradient(from var(--border-angle),
        transparent 25%,
        #08f,
        #f03 99%,
        transparent);
    background:
      $main-bg padding-box,
      $gradient-border border-box,
      $main-bg border-box;
    background-position: center center;
    animation: bg-spin 3s linear infinite;
  }

  &.done {
    border-color: $green-color;
  }

  &.error {
    border-color: red;
  }

  &[disabled=true] {
    pointer-events: none;
  }

  &:hover .node ul.inputs li .title,
  &:hover .node ul.outputs li .title {
    display: visible;
    opacity: 1;
  }

  &.active {
    box-shadow: 0 0 2px 4px rgba($flow-color, 0.35);
  }

  &.active .node ul.inputs li .title,
  &.active .node ul.outputs li .title {
    visibility: visible;
    opacity: 1;
  }

}

.error {
  position: absolute;
  background: rgba(black, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: $corner-large;
  display: flex;
  align-items: center;
  justify-content: center;
}


.node {
  display: flex;
  flex-direction: column;
  border-radius: $corner-large;

  h2 {
    font-size: $font-size-small;
    font-weight: normal;
    line-height: 30px;
    vertical-align: middle;
    width: calc($node-width - $gutter-huge * 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0 $gutter-normal;
  }

  display: flex;
  width: 100%;

  ul.inputs,
  ul.outputs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 30px;

    li {
      font-size: 0.75em;
      height: 30px;
      position: relative;
      padding: 0 10px;
      line-height: 1.25;
      display: flex;
      flex-direction: column;

      .title {
        white-space: nowrap;
        line-height: 1.5;
        overflow: hidden;
        max-width: 150px;
        text-overflow: ellipsis;
        opacity: 0;
        visibility: none;
        transition: opacity 250ms;
      }

      .circle {
        @include reset-button();
        position: absolute;
        width: 18px;
        height: 18px;
        aspect-ratio: 1;
        background: $flow-color;
        border: 5px solid $node-background-color;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: $node-background-color;
          border-color: $flow-color;
        }
      }
    }

    &.inputs {
      transform: translate(calc(-100% - 6px), -2px);

      li {
        .circle {
          right: -14px;
        }

        .title {
          text-align: right;
        }
      }
    }

    &.outputs {
      transform: translate(calc(100% + 6px), -2px);
      right: 0;

      li {
        .circle {
          left: -14px;
        }

        .image-value {
          justify-content: end;
        }
      }
    }
  }

  .featured {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: $gutter-small;
    gap: $gutter-small;

    &.filled {
      li:has(.no-value) {
        display: none;
      }
    }

    li {
      position: relative;

      .no-value {
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
      }

      .pick-output {
        position: absolute;
        bottom: $gutter-small;
        right: $gutter-small;
        z-index: 1;
        opacity: 0;
        transition: all 250ms;
      }

      &[data-type="image"],
      &[data-type="image[]"],
      &[data-type="video"] {
        &:hover .pick-output {
          opacity: 1;
        }
      }

      img {
        @include placeholder();
        display: block;
        width: 100%;
        border-radius: $corner-small;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;
      }

      >.images {
        &.multiple {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: $gutter-small;
          padding: $gutter-normal;
        }
      }

      >.video {

        video {
          display: block;
          width: 100%;
          border-radius: $corner-small;
        }
      }

      >.audio {

        audio {
          display: block;
          width: 100%;
        }
      }

      >.string {
        padding: $gutter-small;
        overflow: hidden;
        max-height: 15em;
        font-size: 0.75em;
        line-height: 1em;

        ::ng-deep {

          ul,
          ol {
            padding-left: 1.5em;
          }
        }
      }
    }

    .artefacts {
      position: absolute;
      right: $gutter-small;
      bottom: $gutter-small;
    }

    &:empty {
      display: none;
    }
  }
}


.progress {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: $gutter-normal;
  right: $gutter-normal;
  z-index: 1;
  height: 5px;
  transform: translate(0, -100%);
  border-radius: $corner-small;
  overflow: hidden;

  .processed {
    background: $green-color;
    transition: width 250ms;
    height: 100%;
  }

  .losses {
    background: red;
    transition: width 250ms;
    height: 100%;
  }
}