<!--
<pre *ngIf="mode == 'default'">
<![CDATA[curl -X POST -F "file=@image.jpg" https://{{ hostname }}/api/assets
]]></pre
>
-->

<ng-template #noDataTemplate>
  <!--<p>No assets found.</p>-->
</ng-template>

<ng-template #loadingTemplate>
  <div *ngIf="progress.loading; else noDataTemplate">
    <!--<app-feed-skeleton></app-feed-skeleton>-->
  </div>
</ng-template>

<ng-template #foldersPopover>
  <div class="folders">
    <a
      class="default"
      *ngFor="let folder of folders"
      (click)="filterFolder(folder)"
    >
      {{ folder }}
    </a>
  </div>
</ng-template>

<form [formGroup]="form">
  <fieldset class="stack horizontal small align-center">
    <button
      class="circle"
      type="button"
      [disabled]="folders.length <= 0"
      [appPopover]="{ content: foldersPopover, trigger: 'click' }"
      (attached)="references.popover = $event"
    >
      <app-icon class="icon" icon="menu"></app-icon>
    </button>
    <input
      class="input-primary"
      formControlName="folder"
      placeholder="Folder name"
    />
  </fieldset>
</form>

<ul class="assets" [class.busy-block]="progress.loading">
  <li class="upload" [class.busy-block]="progress.uploading">
    <input type="file" (change)="upload($event)" />
    <button>
      <app-icon icon="upload" [size]="32"></app-icon>
    </button>
  </li>
  <ng-container *ngIf="assets.length > 0; else loadingTemplate">
    <li *ngFor="let asset of assets">
      <a
        class="folder"
        *ngIf="asset.folder as folder"
        (click)="filterFolder(folder)"
        >{{ folder }}</a
      >
      <div class="actions">
        <button
          class="circle small faded"
          [class.busy]="progress.removing[asset._id]"
          [disabled]="progress.removing[asset._id]"
          (click)="remove(asset)"
        >
          <app-icon
            class="icon"
            icon="delete"
            [size]="18"
            [stroke]="2"
          ></app-icon>
        </button>
        <a class="circle small faded" [href]="asset.url" target="_blank">
          <app-icon
            class="icon"
            icon="open-link"
            [stroke]="2"
            [size]="18"
          ></app-icon>
        </a>
      </div>
      <ng-container [ngSwitch]="asset.type">
        <img
          *ngSwitchCase="'image'"
          [src]="asset.url | proxyImage: { width: 300 }"
          [style.aspect-ratio]="asset.width + '/' + asset.height"
          (click)="select(asset)"
        />
        <video
          *ngSwitchCase="'video'"
          muted
          autoplay
          [volume]="0"
          [src]="asset.url"
          [style.aspect-ratio]="asset.width + '/' + asset.height"
          (click)="select(asset)"
        ></video>
      </ng-container>
    </li>
  </ng-container>
</ul>
