@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
  display: block;
  @include vertical-stack();

  &[data-mode=select] {
    .assets {
      display: flex;

      li {
        padding: 0;
        height: 100px;
        position: relative;

        .folder,
        .actions {
          display: none;
        }

        img,
        video {
          cursor: pointer;
        }

        .audio {
          button {
            display: block;
          }
        }

        &.upload {
          width: 100px;

          button {
            min-width: auto;
          }
        }
      }
    }
  }
}

.folders {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: $gutter-normal;
}

.assets {
  display: flex;
  gap: $gutter-normal;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    @include placeholder();
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;

    .folder {
      position: absolute;
      bottom: $gutter-normal;
      left: $gutter-normal;
      font-size: .75em;
      color: $primary-text-color;
      padding: $gutter-tiny;
      background: $control-background-color;
      border-radius: $gutter-tiny;
      line-height: 1em;
    }

    .actions {
      @include horizontal-stack($gutter-tiny);
      position: absolute;
      top: $gutter-normal;
      right: $gutter-normal;
      z-index: 1;

      button {
        opacity: .5;
        transition: all 500ms;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.upload {
      @include placeholder();
      width: 150px;

      &:hover {
        button {
          opacity: 1;
        }
      }

      button {
        border: none;
        background: transparent;
        opacity: 0.5;
        transition: all 500ms;
        min-width: 150px;
      }

      input {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
      }
    }

    img,
    video {
      display: block;
      border-radius: 5px;
      height: 100%;
    }

    .archive {
      @include reset-button();
      padding: $gutter-small;
    }

    .audio {
      height: 100%;
      display: flex;
      align-items: center;
      padding: $gutter-normal;
      gap: $gutter-small;

      button {
        display: none;
      }
    }
  }
}