@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
  display: block;
}

:host-context(.ui-modal) {
  .assets {
    display: flex;

    li {
      padding: 0;
      height: 80px;

      .actions {
        display: none;
      }

      img,
      video {
        cursor: pointer;
        border: 2px solid transparent;
        transition: all;

        &:hover {
          border-color: $accent-color;
        }
      }

      &.upload {
        button {
          min-width: auto;
        }
      }
    }
  }
}

.assets {
  display: flex;
  gap: $gutter-small;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    @include placeholder();
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: $gutter-small;
    height: 160px;

    .actions {
      @include horizontal-stack($gutter-tiny);
      position: absolute;
      top: $gutter-normal;
      right: $gutter-normal;
      z-index: 1;
    }

    &.upload {
      @include placeholder();
      border-radius: 5px;
      overflow: hidden;
      width: 100px;

      &:hover {
        button {
          opacity: 1;
        }
      }

      button {
        border: none;
        background: transparent;
        opacity: 0.5;
        transition: all 500ms;
        min-width: 150px;
      }

      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
    }

    img,
    video {
      display: block;
      border-radius: 5px;
      height: 100%;
    }
  }
}