@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
  display: block;
  @include vertical-stack();
}

:host-context(.ui-modal) {
  .assets {
    display: flex;

    li {
      padding: 0;
      height: 80px;
      position: relative;

      .folder,
      .actions {
        display: none;
      }

      img,
      video {
        cursor: pointer;
        border: 2px solid transparent;
        transition: all;

        &:hover {
          border-color: $accent-color;
        }
      }

      &.upload {
        button {
          min-width: auto;
        }
      }
    }
  }
}

.folders {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: $gutter-normal;
}

.assets {
  display: flex;
  gap: $gutter-small;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    @include placeholder();
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: $gutter-small;
    height: 160px;

    .folder {
      position: absolute;
      bottom: $gutter-normal;
      left: $gutter-normal;
      font-size: .75em;
      color: $primary-dark-color;
      padding: $gutter-tiny;
      background: rgba(white, .75);
      border-radius: $gutter-tiny;
      line-height: 1em;
    }

    .actions {
      @include horizontal-stack($gutter-tiny);
      position: absolute;
      top: $gutter-normal;
      right: $gutter-normal;
      z-index: 1;
    }

    &.upload {
      @include placeholder();
      border-radius: 5px;
      overflow: hidden;
      width: 100px;

      &:hover {
        button {
          opacity: 1;
        }
      }

      button {
        border: none;
        background: transparent;
        opacity: 0.5;
        transition: all 500ms;
        min-width: 150px;
      }

      input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
    }

    img,
    video {
      display: block;
      border-radius: 5px;
      height: 100%;
    }
  }
}