@import 'src/ui-kit/styles/mixins';
@import 'src/ui-kit/styles/variables';

:host {
  display: block;

  &[data-type="image[]"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.compact {
      grid-template-columns: repeat(4, 1fr);
    }

    &.empty {
      grid-template-columns: 1fr;
    }
  }
}

.upload {
  @include placeholder();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $gutter-normal;

  .icon {
    opacity: .5;
  }
}

.select-asset {
  @include vertical-stack($gutter-small);
  width: 80vmax;
  height: 90vmin;

  p {
    font-size: $font-size-small;

    span {
      background: $control-background-color;
      padding: $gutter-tiny $gutter-small;
      border-radius: $corner-small;
    }
  }
}

input,
select,
textarea {
  width: 100%;
}

textarea {
  min-height: 100px;

  &.uploading {
    opacity: 0.5;
    cursor: progress;
    pointer-events: none;
  }
}

textarea {
  resize: vertical;
}

.option {
  &.selected {
    background-color: red;
  }
}

.container {
  position: relative;
  cursor: pointer;

  .drag-zone {
    display: flex;
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: .5);
    color: white;
  }

  &.dragging {
    .drag-zone {
      opacity: 1;
    }
  }
}

.image {
  @include placeholder();
  position: relative;
  min-width: 50px;
  min-height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  .remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }

  &.add-image {
    background: $control-background-color;

    &.dragging {
      background: $control-focus-background-color;
    }
  }
}

img,
video {
  @include placeholder();

  display: block;
  width: 100%;
  max-width: 100%;
}