@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
    display: block;
    padding: $gutter-normal;
    @include vertical-stack();
}

.tools {
    position: fixed;
    top: $gutter-normal;
    right: $gutter-normal;
}

h1 {
    line-height: 1.25em;
    margin: 0;
}