@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";
@import "src/ui-kit/styles/defs/buttons";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-huge;
}

p {
  margin: 0;
  font-size: $font-size-small;
}

.search {
  width: 100%;
}

.category {
  @extend %button-primary;
  justify-content: flex-start;
  gap: $gutter-small;
}

.nodes {
  display: flex;
  flex-direction: column;
  padding: $gutter-normal 0;

  header {

    img {
      display: block;
      width: 22px;
      max-width: 22px;
      aspect-ratio: 1/1;
      position: absolute;
      top: $gutter-small;
      right: $gutter-small;
    }
  }

  article {
    display: flex;
    user-select: none;
    cursor: grab;

    h3 {
      flex: 1;
      text-align: center;
      font-size: $font-size-base;
      font-weight: normal;
    }
  }

  footer {
    position: relative;

    .version {
      position: absolute;
      bottom: -$gutter-small;
      right: -$gutter-small;
      padding: $gutter-tiny $gutter-small;
      line-height: 1;
      font-size: $font-size-tiny;
      background: $control-background-color;
    }

    .tags {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: $gutter-small;

      li {
        font-size: 0.85em;
        color: $primary-text-color;
      }
    }
  }
}