<ng-template #errorTemplate>
  <div class="informer errors">
    <p>{{ error.message }}</p>
    <ul>
      <li *ngFor="let m of error?.details">{{ m }}</li>
    </ul>
    <div class="stack justify-center">
      <button class="primary" (click)="error = null">Ok</button>
    </div>
  </div>
</ng-template>

<app-informer
  *ngIf="!!error"
  [contentTemplate]="errorTemplate"
  (ok)="error = null"
></app-informer>

<ng-template #noDataTemplate>
  <ng-template #emptyTemplate>
    <p i18n="@@message.nothing_found">Nothing found.</p>
  </ng-template>
  <ng-container *ngIf="progress.loading; else emptyTemplate">
    <app-skeleton type="cards" [cols]="1"></app-skeleton>
  </ng-container>
</ng-template>

<p>
  <ng-container i18n="@@message.request_node"
    >If you can't find node what you need, you can</ng-container
  >&nbsp;<a
    class="default"
    href="https://github.com/my-piper/piper/discussions/categories/request-node"
    target="_blank"
    i18n="@@link.request_node"
  >
    request node
  </a>
</p>

<form [formGroup]="form">
  <fieldset>
    <input
      #searchInput
      class="search input-primary"
      formControlName="search"
      placeholder="Search"
      i18n-placeholder="@@label.search"
    />
  </fieldset>
</form>

<ng-container *ngIf="nodes.length > 0; else noDataTemplate">
  <ng-container *ngFor="let c of nodes | groupNodes">
    <button class="category" (click)="toggle(c.category?._id)">
      <app-icon
        class="icon left"
        [icon]="state.currentGroup === c.category?._id ? 'minus' : 'plus'"
        [size]="16"
      ></app-icon>
      <div class="stack horizontal justify-between flex">
        {{ c.category?.title | i18n }}
        <div class="badge ghost">{{ c.nodes.length }}</div>
      </div>
    </button>
    <div *ngIf="state.currentGroup === c.category?._id" class="cards nodes">
      <div
        class="card"
        *ngFor="let node of c.nodes"
        [dragClone]="{ payload: { node: node._id } }"
      >
        <header>
          <ng-template #actionsTemplate>
            <div class="stack vertical small">
              <ul class="context-menu">
                <li>
                  <button submitButton (click)="remove(node)">
                    <app-icon
                      class="icon left"
                      icon="delete"
                      [size]="18"
                    ></app-icon>
                    Delete
                  </button>
                </li>
              </ul>
            </div>
          </ng-template>
          <button
            *ngIf="userRole.admin | can | async"
            class="actions"
            [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
            (attached)="references.popover = $event"
          >
            <app-icon class="icon" icon="menu"></app-icon>
          </button>
          <img
            class="thumbnail"
            *ngIf="node.thumbnail as thumbnail"
            [src]="thumbnail"
          />
        </header>
        <article>
          <h3>{{ node.title | i18n }}</h3>
        </article>
        <footer>
          <ul *ngIf="node.tags as tags" class="tags">
            <li
              *ngFor="let t of tags"
              [class.cheap]="(t | i18n: 'en') === 'cheap'"
              [class.free]="(t | i18n: 'en') === 'free'"
            >
              #{{ t | i18n }}
            </li>
          </ul>
          <div class="version" *ngIf="userRole.admin | can | async">
            ver. {{ node.version }}
          </div>
        </footer>
      </div>
    </div>
  </ng-container>
</ng-container>
