<ng-template #errorTemplate>
  <div class="informer errors">
    <p>{{ error.message }}</p>
    <ul>
      <li *ngFor="let m of error?.details">{{ m }}</li>
    </ul>
    <div class="stack justify-center">
      <button class="primary" (click)="error = null">Ok</button>
    </div>
  </div>
</ng-template>

<app-informer
  *ngIf="!!error"
  [contentTemplate]="errorTemplate"
  (ok)="error = null"
></app-informer>

<ng-template #noDataTemplate>
  <ng-template #emptyTemplate>
    <p i18n="@@message.nothing_found">Nothing found.</p>
  </ng-template>
  <ng-container *ngIf="progress.loading; else emptyTemplate">
    <app-skeleton type="cards" [cols]="1"></app-skeleton>
  </ng-container>
</ng-template>

<ng-container *ngIf="nodes.length > 0; else noDataTemplate">
  <ng-container *ngFor="let c of nodes | groupNodes">
    <h2>{{ c.category?.title | i18n }}</h2>
    <div class="cards nodes">
      <div
        class="card"
        *ngFor="let node of c.nodes"
        [dragClone]="{ payload: { node: node._id } }"
      >
        <header>
          <ng-template #actionsTemplate>
            <div class="stack vertical small">
              <div class="version" *ngIf="userRole.admin | can | async">
                Version: {{ node.version }}
              </div>
              <ul class="context-menu">
                <li>
                  <button submitButton (click)="remove(node)">
                    <app-icon
                      class="icon left"
                      icon="delete"
                      [size]="18"
                    ></app-icon>
                    Delete
                  </button>
                </li>
              </ul>
            </div>
          </ng-template>
          <button
            *ngIf="userRole.admin | can | async"
            class="actions"
            [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
            (attached)="references.popover = $event"
          >
            <app-icon class="icon" icon="menu"></app-icon>
          </button>
          <img
            class="thumbnail"
            *ngIf="node.thumbnail as thumbnail"
            [src]="thumbnail"
          />
        </header>
        <article>
          <h3>{{ node.title | i18n }}</h3>
        </article>
        <footer>
          <ul *ngIf="node.tags as tags" class="tags">
            <li *ngFor="let t of tags">#{{ t }}</li>
          </ul>
        </footer>
      </div>
    </div>
  </ng-container>
</ng-container>
