@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  gap: $gutter-normal;
}

h2 {
  margin: 0;
}

.nodes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 100px;
  padding: $gutter-normal 0;

  article {
    display: flex;

    >button {
      @include reset-button();
      width: 100%;
      display: flex;
      align-items: center;
      flex: 1;
      gap: $gutter-small;

      h3 {
        flex: 1;
        text-align: center;
      }

      img {
        max-width: 60px;
      }
    }
  }
}