@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  gap: $gutter-normal;
}

h2 {
  margin: 0;
}

.nodes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 100px;
  padding: $gutter-normal 0;

  article {
    display: flex;

    >button {
      @include reset-button();
      width: 100%;
      display: flex;
      align-items: center;
      flex: 1;
      gap: $gutter-small;

      h3 {
        flex: 1;
        text-align: center;
      }

      img {
        display: block;
        width: 60px;
        max-width: 60px;
        aspect-ratio: 1/1;
      }
    }
  }

  footer {
    position: relative;

    .tags {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: $gutter-small;

      li {
        font-size: 0.85em;
        color: $primary-text-color;
      }
    }

    .version {
      position: absolute;
      bottom: -$gutter-small;
      right: -$gutter-small;
      background: white;
      padding: $gutter-tiny $gutter-small;
      line-height: 1;
      font-size: .85em;
    }
  }
}