@import 'src/ui-kit/styles/variables';
@import 'src/ui-kit/styles/mixins';

:host {
  display: block;
}

.monaco {
  min-width: 600px;
  min-height: 50vh;
}

img,
video {
  @include placeholder();

  display: block;
  min-width: 600px;
  max-width: 100%;
  max-height: 80vh;
}