@import 'src/ui-kit/styles/variables';
@import 'src/ui-kit/styles/mixins';

:host {
  display: block;

}

.monaco {
  min-width: 600px;
  min-height: 50vh;
}

img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
}