<div class="modal" [class.hidden]="!modal">
  <header>
    <a
      class="primary with-icon"
      [hotKey]="'escape'"
      (hotKeyPressed)="back()"
      [routerLink]="['./']"
    >
      <app-icon class="icon right" icon="close"></app-icon>
      <span class="badge">ESC</span>
    </a>
  </header>
  <div class="content filled">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<form [formGroup]="form">
  <div class="editor">
    <ngx-monaco-editor
      class="monaco"
      formControlName="readme"
      [options]="{ wordWrap: 'off', language: 'markdown', theme: 'vs-dark' }"
    >
    </ngx-monaco-editor>
  </div>
  <footer class="stack">
    <a class="primary" [routerLink]="['view']">View</a>
    <button
      submitButton
      class="primary"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Save
    </button>
  </footer>
</form>
