<div class="modal" [class.hidden]="!modal">
  <header>
    <a class="primary" [routerLink]="['./']">Close</a>
  </header>
  <div class="content filled">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<form [formGroup]="form">
  <div class="editor">
    <ngx-monaco-editor
      class="monaco"
      formControlName="readme"
      [options]="{ wordWrap: 'off', theme: 'vs-dark', language: 'markdown' }"
    >
    </ngx-monaco-editor>
  </div>
  <footer class="stack horizontal">
    <a class="secondary" [routerLink]="['view']">View</a>
    <button
      submitButton
      class="primary"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Save
    </button>
  </footer>
</form>
