<app-informer
  *ngIf="!!error"
  [message]="error"
  (ok)="error = null"
></app-informer>

<form [formGroup]="form">
  <fieldset>
    <app-json-editor
      [schema]="schemas.pipeline.properties.deploy"
      formControlName="deploy"
    ></app-json-editor>
  </fieldset>
  <footer class="stack horizontal">
    <button submitButton class="primary" (click)="save()">Save</button>
    <button
      class="primary"
      type="button"
      [class.busy]="progress.deploying"
      [disabled]="progress.deploying"
      (click)="deploy()"
    >
      Deploy
    </button>
  </footer>
</form>
