<ng-template #errorTemplate>
  <div class="informer errors">
    <p>{{ error.message }}</p>
    <ul>
      <li *ngFor="let m of error?.details">{{ m }}</li>
    </ul>
    <div class="stack justify-center">
      <button class="primary" (click)="error = null">Ok</button>
    </div>
  </div>
</ng-template>

<app-informer
  *ngIf="!!error"
  [contentTemplate]="errorTemplate"
  (ok)="error = null"
></app-informer>

<ng-template #clonePipelineTemplate>
  <header>
    <p>
      <ng-container i18n="@@message.not_owner_pipeline">
        You are not owner of this pipeline, but you can play with it
        in</ng-container
      >&nbsp;<a
        class="primary with-icon"
        [routerLink]="['/', 'play', project.slug || project._id]"
        routerLinkActive="active"
      >
        <ng-container i18n="@@link.open_playground">Playground</ng-container>
        <app-icon
          class="icon right"
          icon="open-link"
          [size]="18"
        ></app-icon> </a
      >&nbsp;<ng-container i18n="@@label.or">or</ng-container>&nbsp;<button
        class="primary"
        [disabled]="progress.cloning"
        [class.busy]="progress.cloning"
        (click)="clone()"
        i18n="@@button.clone_pipeline"
      >
        Clone
      </button>
    </p>
  </header>
</ng-template>

<header>
  <div class="stack">
    <div class="stack align-center flex">
      <a class="circle" [routerLink]="['..']">
        <app-icon class="icon" [icon]="'chevron-left'"></app-icon>
      </a>
      <ng-template #shareProjectPopover>
        <app-edit-project
          [project]="project"
          (updated)="updated($event)"
        ></app-edit-project>
      </ng-template>
      <button
        *ngIf="userRole.admin | can | async"
        class="circle"
        [appPopover]="{
          trigger: 'click',
          content: shareProjectPopover,
        }"
      >
        <app-icon class="icon" [icon]="'share'"></app-icon>
      </button>
      <div class="title" [formGroup]="form">
        <input
          [class.error]="form | invalidField: 'name'"
          formControlName="name"
        />
        <small *ngIf="pipeline.description as description">{{
          description | i18n
        }}</small>
      </div>
    </div>
    <app-me-user class="me"></app-me-user>
  </div>
  <div class="stack align-center justify-between">
    <nav
      *ngIf="
        userRole.admin | can: project.createdBy | async;
        else clonePipelineTemplate
      "
      class="stack align-center"
    >
      <ul class="menu">
        <li>
          <a
            [class.active]="child | is: editPipelineVisualComponent"
            [routerLink]="['./']"
            i18n="@@link.canvas"
          >
            Canvas
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              {
                outlets: {
                  primary: ['environment'],
                  left: null,
                  right: null,
                  bottom: null,
                },
              },
            ]"
            routerLinkActive="active"
          >
            <ng-container i18n="@@link.environment">Environment</ng-container>
            <ng-container
              *ngIf="
                (project.pipeline | pipelineEnvironment | async)?.properties
                  .variables.properties
                  | keyvalue
                  | length as variables
              "
            >
              <span *ngIf="variables > 0" class="badge">
                {{ variables }}
              </span>
            </ng-container>
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              {
                outlets: {
                  primary: ['artefacts'],
                  left: null,
                  right: null,
                  bottom: null,
                },
              },
            ]"
            routerLinkActive="active"
            (click)="references.popover?.hide()"
            i18n="@@link.artefacts"
          >
            Artefacts
          </a>
        </li>
        <ng-container
          *ngIf="(project.pipeline.outputs | keyvalue | length) > 0"
        >
          <li>
            <a
              class="with-icon"
              [routerLink]="['/', 'play', project.slug || project._id]"
              target="_blank"
              routerLinkActive="active"
            >
              <app-icon class="icon left" [size]="18" icon="app"></app-icon>
              <ng-container i18n="@@link.app">App</ng-container>
            </a>
          </li>
        </ng-container>
        <li>
          <a
            [routerLink]="[
              {
                outlets: {
                  primary: ['deploy'],
                  left: null,
                  right: null,
                  bottom: null,
                },
              },
            ]"
            routerLinkActive="active"
            i18n="@@link.deploy"
          >
            Deploy
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              {
                outlets: {
                  primary: ['assets'],
                  left: null,
                  right: null,
                  bottom: null,
                },
              },
            ]"
            routerLinkActive="active"
            (click)="references.popover?.hide()"
            i18n="@@link.assets"
          >
            Assets
          </a>
        </li>
        <li>
          <a
            [routerLink]="[
              {
                outlets: {
                  primary: ['launches'],
                  left: null,
                  right: null,
                  bottom: null,
                },
              },
            ]"
            routerLinkActive="active"
            i18n="@@link.launches"
          >
            Launches
          </a>
        </li>
        <ng-container
          *ngIf="project._id | pipelineNodeUpdates | async as nodeUpdates"
        >
          <ng-container
            *ngIf="(nodeUpdates?.updates | keyvalue).length as updates"
          >
            <li>
              <a
                [routerLink]="[
                  {
                    outlets: {
                      primary: ['node-updates'],
                      left: null,
                      right: null,
                      bottom: null,
                    },
                  },
                ]"
                routerLinkActive="active"
              >
                <ng-container i18n="@@link.updates">Updates</ng-container>
                <span class="badge">
                  {{ updates }}
                </span>
              </a>
            </li>
          </ng-container>
        </ng-container>
        <li>
          <ng-template #linksMenu>
            <ul class="context-menu">
              <li>
                <a
                  [routerLink]="[
                    {
                      outlets: {
                        primary: ['design'],
                        left: null,
                        right: null,
                        bottom: null,
                      },
                    },
                  ]"
                  routerLinkActive="active"
                  (click)="references.popover?.hide()"
                  i18n="@@link.design"
                  >Design</a
                >
              </li>
              <li>
                <a
                  [routerLink]="[
                    {
                      outlets: {
                        primary: ['readme', 'edit'],
                        left: null,
                        right: null,
                        bottom: null,
                      },
                    },
                  ]"
                  routerLinkActive="active"
                  (click)="references.popover?.hide()"
                  i18n="@@link.readme"
                >
                  README
                </a>
              </li>
              <li>
                <a
                  [routerLink]="[
                    {
                      outlets: {
                        primary: ['yaml'],
                        left: null,
                        right: null,
                        bottom: null,
                      },
                    },
                  ]"
                  routerLinkActive="active"
                  (click)="references.popover?.hide()"
                >
                  YAML
                </a>
              </li>
              <li *ngIf="userRole.engineer | can | async">
                <a
                  [routerLink]="[
                    {
                      outlets: {
                        primary: ['script'],
                        left: null,
                        right: null,
                        bottom: null,
                      },
                    },
                  ]"
                  routerLinkActive="active"
                  (click)="references.popover?.hide()"
                  i18n="@@link.script"
                >
                  Script
                </a>
              </li>
              <li *ngIf="userRole.admin | can | async">
                <a
                  [routerLink]="['messages']"
                  routerLinkActive="active"
                  (click)="references.popover?.hide()"
                  i18n="@@link.messages"
                >
                  Messages
                </a>
              </li>
              <li>
                <a
                  [routerLink]="[
                    {
                      outlets: {
                        primary: ['tools'],
                        left: null,
                        right: null,
                        bottom: null,
                      },
                    },
                  ]"
                  routerLinkActive="active"
                  (click)="references.popover?.hide()"
                  i18n="@@link.tools"
                >
                  Tools
                </a>
              </li>
            </ul>
          </ng-template>
          <button
            class="item with-icon"
            [appPopover]="{ behavior: 'dropdown', content: linksMenu }"
            (attached)="references.popover = $event"
          >
            <app-icon class="icon left" icon="chevron-down"></app-icon>
            <ng-container i18n="@@link.more">More</ng-container>
          </button>
        </li>
      </ul>
    </nav>

    <div
      class="status"
      *ngIf="projectManager.status | async as status"
      [attr.data-status]="status"
    >
      <app-icon icon="cloud"></app-icon>
    </div>
  </div>
</header>

<div class="child" [class.edit]="child | is: editPipelineVisualComponent">
  <router-outlet
    (activate)="child = $event"
    (deactivate)="child = null"
  ></router-outlet>
</div>
