@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
  padding: $gutter-normal $gutter-big $gutter-small $gutter-big;

  .title {
    display: flex;
    flex-direction: column;
    flex: 1;

    input {
      @include reset-input();
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      &.error {
        border-bottom: 1px dotted $error-color;
      }
    }
  }

  .status {
    @keyframes saving-animation {
      0% {
        opacity: 0.5;
      }

      100% {
        opacity: 0;
      }
    }

    &[data-status="dirty"] {
      opacity: 0.3;
    }

    &[data-status="saving"] {
      animation: saving-animation 500ms infinite alternate ease-in-out;
    }

    &[data-status="saved"] {
      opacity: 0;
    }

    &[data-status="error"] {
      stroke: $error-color;
    }
  }
}

.child {
  display: flex;
  flex-direction: column;
  flex: 1;
  &.edit {
    ::ng-deep > :not(router-outlet) {
      flex: 1;
    }
  }

  &:not(.edit) {
    padding: $gutter-normal;
  }
}
