@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
  padding: $gutter-normal $gutter-big $gutter-small $gutter-big;

  .title {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $font-size-big;
      margin: 0;
      line-height: 1em;
    }
  }

  .status {
    text-transform: uppercase;
    color: white;
    padding: $gutter-tiny $gutter-small;
    font-size: $font-size-small;

    &[data-status=saved] {
      background-color: green;
    }

    &[data-status=error] {
      background-color: $error-color;
    }
  }
}

.child {
  flex: 1;
  display: flex;
  flex-direction: column;

  &:not(.edit) {
    padding: $gutter-normal;
  }
}