@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
  padding: $gutter-normal;
  box-sizing: border-box;
  min-height: 100vh;
}

h1 {
  margin: 0;
  line-height: 1em;
}

header {

  .status {
    text-transform: uppercase;
    font-size: .85em;
    color: white;
    border-radius: $corner-small;
    padding: $gutter-tiny $gutter-small;
    background-color: silver;

    &[data-status=saved] {
      background-color: green;
    }

    &[data-status=error] {
      background-color: $error-color;
    }
  }
}

.child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.launch {
  display: flex;
  align-items: center;
  background-color: #bae4ff;
  padding: 10px;
  border-radius: 10px;

  > :not(:last-child) {
    margin-right: 5px;
  }
}