@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";
@import "src/ui-kit/styles/reset";

:host {
    display: flex;
    flex-direction: column;
    gap: $gutter-normal;
}

form {
    display: flex;
    flex-direction: column;
    gap: $gutter-normal;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-normal;

    button {
        @include reset-button();
        position: relative;
        display: flex;
        flex-direction: column;
        gap: $gutter-tiny;
        align-items: center;
        background-color: rgba($color: $primary-light-color, $alpha: .25);
        padding: $gutter-small;
        border-radius: $corner-small;
        font-size: .85em;
        border: 2px solid transparent;

        &:hover {
            background-color: rgba($color: $primary-light-color, $alpha: .5);
        }

        &.selected {
            background-color: rgba($color: $primary-light-color, $alpha: .65);
            border-color: $primary-color;
        }

        .badge {
            position: absolute;
            top: $gutter-small;
            right: $gutter-small;
        }

        input {
            display: none;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter-normal;

    button {
        @include reset-button();
        background: $primary-light-color;
        padding: $gutter-tiny $gutter-small;
        border-radius: $corner-large;
        font-size: 0.85em;

        &.selected {
            background: $primary-color;
            color: white;
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $gutter-normal;
    min-height: 100px;

    @include for-desktop() {
        grid-template-columns: repeat(5, 1fr);
    }

    @include less-tablet() {
        grid-template-columns: repeat(3, 1fr);
    }

    @include for-mobile() {
        grid-template-columns: 1fr;
    }

    .card {
        .order {
            position: absolute;
            top: -$gutter-small;
            left: -$gutter-small;
            background: white;
            line-height: 1em;
            padding: $gutter-tiny;
            font-size: .75em;
            border-radius: $corner-small;
        }

        article {
            padding: 0;

            button {
                @include reset-button();
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                .title {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: none;
                    color: white;
                    padding: $gutter-small;
                }

                .no-thumbnail {
                    display: block;

                    ::ng-deep svg {
                        stroke: $graphite-color-200;
                    }
                }

                img,
                video {
                    display: block;
                    width: 100%;
                    aspect-ratio: 400 / 400;
                    background: $primary-background-color;
                }
            }
        }

        footer {
            p {
                margin: 0;
                padding: $gutter-small;
                text-align: center;
            }
        }
    }
}

:host-context(.popover) {
    .projects {
        width: 600px;

        .card {
            article {
                .title {
                    display: block;
                    backdrop-filter: blur(5px);
                    background-color: rgba($color: #000000, $alpha: .5);
                }
            }

            header,
            footer {
                display: none;
            }
        }
    }
}