<ng-template #toolsPopover>
  <ul class="context-menu" [class.busy]="progress.organizing">
    <li>
      <button [disabled]="progress.organizing" (click)="organize()">
        Organize
      </button>
    </li>
  </ul>
</ng-template>

<button
  *ngIf="userRole.admin | can | async"
  class="tools button circle"
  [appPopover]="{ content: toolsPopover }"
  (attached)="references.popover = $event"
>
  <app-icon class="icon" icon="menu"></app-icon>
</button>

<form [formGroup]="form" class="categories">
  <label
    *ngFor="let c of categories"
    [class.selected]="categoryControl.value === c._id"
  >
    <input type="radio" [value]="c._id" formControlName="category" />
    <app-icon [icon]="c.icon"></app-icon>
    {{ c.title | i18n }}
    <span class="badge">{{ c.projects }}</span>
  </label>
</form>

<div class="projects cards" [class.busy-block]="progress.loading.projects">
  <div class="card" *ngFor="let p of projects">
    <header>
      <h2>{{ p.title | i18n }}</h2>
    </header>
    <article>
      <button (click)="selected.emit(p)">
        <div class="title">{{ p.title | i18n }}</div>

        <ng-container *ngIf="p.pipeline.thumbnail as thumbnail">
          <ng-container [ngSwitch]="thumbnail | fileType">
            <video
              *ngSwitchCase="'video'"
              [attr.muted]="true"
              [attr.autoplay]="true"
              playsinline
              loop
            >
              <source [src]="thumbnail" type="video/webm" />
            </video>
            <img *ngSwitchDefault [src]="thumbnail" />
          </ng-container>
        </ng-container>
      </button>
    </article>
    <footer *ngIf="p.pipeline.description as description">
      <p>{{ description | i18n }}</p>
    </footer>
  </div>
</div>
