<form [formGroup]="form" class="categories">
  <button
    *ngFor="let c of categories"
    formControlName="category"
    [appSelectable]="{ value: c._id }"
  >
    <app-icon [icon]="c.icon"></app-icon>
    {{ c.title | i18n }}
    <span class="badge">{{ c.projects }}</span>
  </button>
</form>

<div class="projects cards" [class.busy-block]="progress.loading.projects">
  <div class="card" *ngFor="let p of projects">
    <div class="order" *ngIf="userRole.admin | can | async">
      {{ p.order }}
    </div>
    <header>
      <h2>{{ p.title | i18n }}</h2>
    </header>
    <article>
      <button (click)="selected.emit(p)">
        <div class="title">{{ p.title | i18n }}</div>

        <ng-template #noThumbnailTemplate>
          <app-icon
            class="no-thumbnail"
            icon="image"
            [stroke]="1.5"
            [size]="64"
          ></app-icon>
        </ng-template>

        <ng-container
          *ngIf="p.pipeline.thumbnail as thumbnail; else noThumbnailTemplate"
        >
          <ng-container [ngSwitch]="thumbnail | fileType">
            <video
              *ngSwitchCase="'video'"
              [attr.muted]="true"
              [attr.autoplay]="true"
              playsinline
              loop
            >
              <source [src]="thumbnail" type="video/webm" />
            </video>
            <img *ngSwitchDefault [src]="thumbnail" />
          </ng-container>
        </ng-container>
      </button>
    </article>
    <footer *ngIf="p.pipeline.description as description">
      <p>{{ description | i18n }}</p>
    </footer>
  </div>
</div>
