@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/mixins";

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gutter-normal;
}

.card {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}