<table class="default" [class.busy]="progress.loading">
  <thead>
    <th width="100px">Id</th>
    <th width="100px">Attempts</th>
    <th width="200px">Created At</th>
    <th width="50px">Waited</th>
    <th width="50px">Processed</th>
    <th>Result</th>
  </thead>
  <tbody>
    <tr *ngFor="let job of jobs">
      <td>{{ job.id }}</td>
      <td>{{ job.attemptsMade }} / {{ job.maxAttempts }}</td>
      <td>{{ job.createdAt | date: "short" }}</td>
      <td style="text-align: right">
        {{ (job.processedAt - job.createdAt) / 1000 | duration }}
      </td>
      <td style="text-align: right">
        {{ ((job.finishedAt - job.processedAt) / 1000 | duration) || "-" }}
      </td>
      <td>
        <small>{{ job.result }}</small>
      </td>
    </tr>
  </tbody>
</table>
