@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/tables";
@import "src/ui-kit/styles/buttons";
@import "src/ui-kit/styles/forms";
@import "src/ui-kit/styles/modal";
@import "src/ui-kit/styles/cards";
@import "src/ui-kit/styles/layout";
@import "src/ui-kit/styles/menus";
@import "src/ui-kit/styles/animations";
@import "src/ui-kit/styles/typography";
@import "src/ui-kit/styles/tips";
@import "src/ui-kit/styles/badges";
@import "src/ui-kit/styles/sidebar";

// https://coolors.co/palettes/popular/5468ff

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-size: $font-size-base;
  padding: 0;
  margin: 0;
  color: $primary-text-color;
  background-color: $page-background;
}

.area {
  position: relative;
  background: black;
  box-shadow: inset 0 0 10px rgba(black, 0.25);
  border-radius: 5px;
}
