@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/tables";
@import "src/ui-kit/styles/buttons";
@import "src/ui-kit/styles/forms";
@import "src/ui-kit/styles/modal";
@import "src/ui-kit/styles/cards";
@import "src/ui-kit/styles/layout";
@import "src/ui-kit/styles/menus";
@import "src/ui-kit/styles/animations";
@import "src/ui-kit/styles/typography";
@import "src/ui-kit/styles/tips";
@import "src/ui-kit/styles/badges";

// https://coolors.co/palettes/popular/5468ff

body {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #262a34;
  background-color: #f6f5fb;
}

input {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  color: #262a34;
}

.area {
  position: relative;
  background: aliceblue;
  box-shadow: inset 0 0 10px rgba(black, 0.25);
  border-radius: 5px;
}

pre {
  background-color: #071074;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75em;
}