<ng-template #errorTemplate>
  <div class="informer errors">
    <p>{{ error.message }}</p>
    <ul>
      <li *ngFor="let m of error?.details">{{ m }}</li>
    </ul>
    <p>Your data were not saved!</p>
    <div class="stack horizontal justify-center">
      <button class="primary" (click)="error = null">Ok</button>
    </div>
  </div>
</ng-template>

<app-informer
  *ngIf="!!error"
  [contentTemplate]="errorTemplate"
  (ok)="error = null"
></app-informer>

<div class="app-container">
  <header *ngIf="userRole.admin | can | async">
    <button
      class="primary with-icon"
      [routerLink]="['add']"
      i18n="@@action.create"
      [class.busy]="progress.creating"
      [disabled]="progress.creating"
      (click)="create()"
    >
      <app-icon class="icon left" icon="add"></app-icon>
      Create
    </button>
  </header>

  <table class="default">
    <thead>
      <th width="24px"></th>
      <th>Title</th>
      <th width="24px"></th>
      <th width="150px" i18n="@@action.created_at">Created</th>
      <th width="150px" i18n="@@action.updated_at">Updated</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of projects; let i = index">
        <td>
          <ng-template #actionsTemplate>
            <ul class="context-menu" [class.busy]="progress.deleting">
              <li>
                <button (click)="remove(i, p)">
                  <app-icon
                    class="icon left"
                    icon="delete"
                    [size]="18"
                  ></app-icon>
                  <span i18n="@@action.delete">Delete</span>
                </button>
              </li>
            </ul>
          </ng-template>
          <button
            class="circle small"
            [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
            [disabled]="userRole.admin | can: p.createdBy | async | not"
            (attached)="references.popover = $event"
          >
            <app-icon
              class="icon"
              [size]="18"
              [icon]="
                (userRole.admin | can: p.createdBy | async) ? 'menu' : 'lock'
              "
            ></app-icon>
          </button>
        </td>
        <td i18n-title="@@label.title" title="Title">
          <a [routerLink]="[p._id]" [state]="{ scroll: 'top' }">
            {{ p.title | i18n }}
          </a>
        </td>
        <td i18n-title="@@label.visibility" title="Visibility">
          <app-icon
            *ngIf="p.visibility === 'public'"
            icon="share"
            [color]="ui.color.primary"
          ></app-icon>
        </td>
        <td class="created" i18n-title="@@label.created" title="Created">
          <div>{{ p.createdBy?._id }}</div>
          <small>{{ p.createdAt | date }}</small>
        </td>
        <td class="updated" i18n-title="@@label.updated" title="Updated">
          <div>{{ p.updatedBy?._id }}</div>
          <small>{{ p.updatedAt | date: "short" }}</small>
        </td>
      </tr>
      <tr class="loading" *ngIf="progress.loading">
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="chunk.length > 0 && !progress.loading"
    [inViewport]
    (visible)="loadMore()"
  ></div>
</div>
