<div class="modal" [class.hidden]="!modal">
  <header>
    <a
      class="primary with-icon"
      [hotKey]="'escape'"
      (hotKeyPressed)="back()"
      [routerLink]="['./']"
    >
      <app-icon class="icon right" icon="close"></app-icon>
      <span class="badge">ESC</span>
    </a>
  </header>
  <div class="content filled">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="informer errors">
    <p>{{ error.message }}</p>
    <ul>
      <li *ngFor="let m of error?.details">{{ m }}</li>
    </ul>
    <div class="stack justify-center">
      <button class="primary" (click)="error = null">Ok</button>
    </div>
  </div>
</ng-template>

<app-informer
  *ngIf="!!error"
  [contentTemplate]="errorTemplate"
  (ok)="error = null"
></app-informer>

<div class="app-container">
  <header class="stack">
    <button
      class="primary with-icon"
      [routerLink]="['add']"
      [class.busy]="progress.creating"
      [disabled]="progress.creating"
      (click)="create()"
    >
      <app-icon class="icon left" icon="add"></app-icon>
      <ng-container i18n="@@action.create">Create</ng-container>
    </button>
    <a
      *ngIf="userRole.admin | can | async"
      class="primary"
      [routerLink]="['import']"
      i18n="@@link.import"
    >
      Import
    </a>
  </header>

  <table class="default">
    <thead>
      <th width="24px"></th>
      <th i18n="@@label.title">Title</th>
      <th width="24px"></th>
      <th width="24px" i18n="@@label.ver">Ver.</th>
      <th width="150px" i18n="@@label.created">Created</th>
      <th width="150px" i18n="@@label.updated">Updated</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of projects; let i = index">
        <td>
          <ng-template #actionsTemplate>
            <ul class="context-menu" [class.busy]="progress.deleting">
              <li>
                <button (click)="remove(i, p)">
                  <app-icon
                    class="icon left"
                    icon="delete"
                    [size]="18"
                  ></app-icon>
                  <span i18n="@@action.delete">Delete</span>
                </button>
              </li>
            </ul>
          </ng-template>
          <button
            class="circle"
            [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
            [disabled]="userRole.admin | can: p.createdBy | async | not"
            (attached)="references.popover = $event"
          >
            <app-icon
              class="icon"
              [icon]="
                (userRole.admin | can: p.createdBy | async) ? 'menu' : 'lock'
              "
              [size]="18"
            ></app-icon>
          </button>
        </td>
        <td
          i18n-title="@@label.title"
          title="Title"
          class="stack justify-between"
        >
          <a
            class="default"
            [routerLink]="[p.slug || p._id]"
            [state]="{ scroll: 'top' }"
          >
            {{ p.title | i18n }}
          </a>

          <div *ngIf="p.tags as tags" class="stack">
            <span class="tag" *ngFor="let t of tags">{{ t }}</span>
          </div>
        </td>
        <td i18n-title="@@label.visibility" title="Visibility">
          <app-icon *ngIf="p.visibility === 'public'" icon="share"></app-icon>
        </td>
        <td class="version">
          {{ p.pipeline.version }}
        </td>
        <td class="created" i18n-title="@@label.created" title="Created">
          <div>{{ p.createdBy?._id }}</div>
          <small>{{ p.createdAt | date }}</small>
        </td>
        <td class="updated" i18n-title="@@label.updated" title="Updated">
          <div>{{ p.updatedBy?._id }}</div>
          <small>{{ p.updatedAt | date: "short" }}</small>
        </td>
      </tr>
      <tr class="loading" *ngIf="progress.loading">
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="chunk.length > 0 && !progress.loading"
    [inViewport]
    (visible)="loadMore()"
  ></div>
</div>
