@import "src/ui-kit/styles/variables";
@import "src/ui-kit/styles/reset";

:host {
  display: flex;
}

.array {
  position: relative;

  .index {
    position: absolute;
    top: $gutter-small;
    right: $gutter-small;
    font-size: $font-size-tiny;
    line-height: 1em;
    color: white;
    text-shadow: 0 0 2px black;
  }

  img,
  .no-image {
    display: block;
    border-radius: $corner-small;
    min-width: 30px;
    min-height: 30px;
    background: white;
  }
}

.json {
  display: flex;
  button {
    @include reset-button();
    color: $primary-text-color;
    font-size: 0.65em;
    font-family: $monospace-font-family;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

::ng-deep .popover {
  .paths {
    list-style: none;
    margin: 0;
    padding: 0 $gutter-small 0;
    font-size: 0.75em;
    font-family: $monospace-font-family;
    max-height: 200px;
    overflow: auto;
    li {
      a {
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
