<h1 *ngIf="!!nodePackage">{{ nodePackage.title | i18n }}</h1>
<form [formGroup]="form">
  <fieldset>
    <app-json-editor
      [schema]="schema"
      [disable]="!!nodePackage ? ['root._id'] : []"
      [features]="[]"
      formControlName="nodePackage"
    ></app-json-editor>
  </fieldset>
  <footer>
    <button
      class="primary"
      [class.busy]="progress.saving"
      [disabled]="form.invalid || progress.saving"
      (click)="save()"
      i18n="@@action.save"
    >
      Save
    </button>
  </footer>
</form>
