<div class="outputs" [class.busy-block]="progress.loading">
  <ng-container *ngFor="let o of outputs">
    <ng-container *ngIf="o.data as data" [ngSwitch]="o.type">
      <button *ngSwitchCase="'image'" (click)="select(data.url)">
        <img
          [imageFallback]
          [src]="data.url | proxyImage: { width: 300 }"
          [class.vertical]="data.height > data.width"
          [style.aspect-ratio]="data.width + '/' + data.height"
        />
      </button>
      <ng-container *ngSwitchCase="'image[]'">
        <button *ngFor="let image of data.images" (click)="select(image.url)">
          <img
            [imageFallback]
            [src]="image.url | proxyImage: { width: 300 }"
            [class.vertical]="image.height > image.width"
            [style.aspect-ratio]="image.width + '/' + image.height"
          />
        </button>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
