@import "src/ui-kit/styles/variables";

:host {
  display: block;
  padding: $gutter-normal;
}

.error {
  color: red;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;

  li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border-bottom: 1px dashed silver;
    padding: 5px;

    >b {
      display: flex;
      align-items: flex-end;
    }
  }
}