<div class="modal" [class.hidden]="!modal">
  <header>
    <a
      class="primary with-icon"
      [hotKey]="'escape'"
      (hotKeyPressed)="back()"
      [routerLink]="['./']"
    >
      <app-icon class="icon right" icon="close"></app-icon>
      <span class="badge">ESC</span>
    </a>
  </header>
  <div class="content filled">
    <router-outlet
      (activate)="modal = $event"
      (deactivate)="modal = null"
    ></router-outlet>
  </div>
</div>

<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<ng-template #noUpdatesTemplates>
  <p i18n="@@message.no_updates_for_package">Package has no updates.</p>
</ng-template>

<ng-template #readmePopover>
  <div class="updates">
    <header>
      <button
        *ngIf="(state?.updates || [] | packagesForUpdate) > 0"
        class="primary"
        [disabled]="progress.updating"
        [class.busy]="progress.updating"
        (click)="update()"
        i18n="@@action.update"
      >
        Update
      </button>
    </header>
    <ng-template #noUpdatesTemplate>
      <p i18n="@@label.check_updates">Please, check update.</p>
    </ng-template>
    <ul *ngIf="state?.updates.length; else noUpdatesTemplate">
      <li *ngFor="let update of state.updates">
        {{ update.current.title | i18n }}
        <p class="errors" *ngIf="update.errors as errors; else updatesTemplate">
          {{ errors }}
        </p>
        <ng-template #updatesTemplate>
          <ng-container
            *ngIf="update.updated as updated; else noUpdatesTemplates"
          >
            <p class="new" i18n="@@message.new_version">
              New version {{ updated.version }}:
            </p>
            <div
              *ngIf="updated.readme as readme"
              class="notes"
              [innerHTML]="readme | markdown | async"
            ></div>
          </ng-container>
        </ng-template>
      </li>
    </ul>
  </div>
</ng-template>

<div class="app-container">
  <header class="stack">
    <a class="primary with-icon" [routerLink]="['add']">
      <app-icon class="icon left" icon="add"></app-icon>
      <ng-container i18n="@@action.create">Create</ng-container>
    </a>
    <a class="primary" [routerLink]="['import']" i18n="@@link.import">
      Import
    </a>

    <ng-container [ngSwitch]="state?.status">
      <ng-container *ngSwitchCase="'checking'">
        <button class="primary busy" disabled i18n="@@label.checking">
          Checking
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'updating'">
        <button class="primary busy" disabled i18n="@@label.updating">
          Updating
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <button
          class="primary"
          [disabled]="progress.loading.state || progress.checking"
          [class.busy]="progress.loading.state || progress.checking"
          [appPopover]="{ content: readmePopover }"
          (attached)="references.popover = $event"
          (click)="checkUpdates()"
        >
          <ng-container i18n="@@action.check_updates">
            Check updates
          </ng-container>
          <span
            class="badge"
            *ngIf="state?.updates || [] | packagesForUpdate as updates"
            >{{ updates }}</span
          >
          <span
            class="badge errors"
            *ngIf="state?.updates || [] | packagesUpdateErrors as errors"
            >{{ errors }}</span
          >
        </button>
      </ng-container>
    </ng-container>
  </header>

  <table class="default">
    <thead>
      <th width="24px"></th>
      <th width="256px" i18n="@@label.title">Title</th>
      <th width="24px"></th>
      <th width="64px" i18n="@@label.version">Version</th>
      <th i18n="@@label.description">Description</th>
    </thead>
    <tbody>
      <tr *ngFor="let p of packages; let i = index">
        <td>
          <ng-template #actionsTemplate>
            <ul class="context-menu">
              <li>
                <a [routerLink]="[p._id]" (click)="references.popover?.hide()">
                  <app-icon
                    class="icon left"
                    icon="edit"
                    [size]="18"
                  ></app-icon>
                  <ng-container i18n="@@action.edit">Edit</ng-container>
                </a>
              </li>
              <li>
                <button (click)="remove(i, p)">
                  <app-icon
                    class="icon left"
                    icon="delete"
                    [size]="18"
                  ></app-icon>
                  <ng-container i18n="@@action.delete">Delete</ng-container>
                </button>
              </li>
            </ul>
          </ng-template>
          <button
            class="circle"
            [appPopover]="{ content: actionsTemplate, trigger: 'click' }"
            (attached)="references.popover = $event"
          >
            <app-icon class="icon" icon="menu"></app-icon>
          </button>
        </td>
        <td>
          <a class="default" [routerLink]="[p._id, 'export']">
            {{ p.title | i18n }}
          </a>
        </td>
        <td i18n-title="@@label.visibility" title="Visibility">
          <a
            class="circle"
            *ngIf="p.public"
            target="_blank"
            href="/api/node-packages/{{ p._id }}/export"
          >
            <app-icon class="icon" icon="share" size="18"></app-icon>
          </a>
        </td>
        <td class="version">
          <ng-template #releaseNotesPopover>
            <div [innerHTML]="p.readme | markdown | async"></div>
          </ng-template>
          <div class="stack small align-center">
            <span>{{ p.version }}</span>
            <button
              [appPopover]="{ content: releaseNotesPopover }"
              class="circle"
              [disabled]="!p.readme"
            >
              <app-icon class="icon" icon="info" size="18"></app-icon>
            </button>
          </div>
        </td>
        <td>
          {{ p.description }}
        </td>
      </tr>
      <tr class="loading" *ngIf="progress.loading.packages">
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>
</div>
