<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<div class="app-container">
  <div class="frame">
    <ng-template #selectLanguagePopover>
      <app-select-language></app-select-language>
    </ng-template>
    <button
      class="select-language circle"
      [appPopover]="{ content: selectLanguagePopover, trigger: 'click' }"
    >
      <app-icon class="icon" icon="lang"></app-icon>
    </button>

    <div class="stack vertical align-center">
      <img width="60px" height="60px" src="assets/app-logo-square.svg" />
      <h1 i18n="@@label.login">Login</h1>
    </div>

    <form data-cy="form-login" [formGroup]="form" (ngSubmit)="login()">
      <fieldset>
        <input
          class="input-primary"
          id="identity"
          name="identity"
          [class.error]="form | invalidField: 'identity'"
          formControlName="identity"
          placeholder="User name or email"
          i18n-placeholder="@@label.login_or_email"
          data-cy="user-name"
          type="text"
        />
        <div class="vertical stack tiny align-stretch">
          <input
            class="input-primary"
            id="password"
            name="password"
            [class.error]="form | invalidField: 'password'"
            formControlName="password"
            data-cy="password"
            placeholder="Password"
            i18n-placeholder="@@label.password"
            type="password"
          />
          <p class="restore">
            You can also
            <a [routerLink]="['/restore']">restore password</a>
          </p>
        </div>
      </fieldset>
      <footer>
        <button
          class="primary fluid"
          [class.busy]="progress.login"
          [disabled]="progress.login"
          i18n="@@action.login"
          type="submit"
        >
          Login
        </button>
      </footer>
    </form>

    <div class="stack vertical align-center">
      <div class="stack horizontal small align-center">
        <a class="button circle light" href="/oauth/google">
          <app-icon class="icon" icon="google"></app-icon>
        </a>
        <a class="button circle light" href="/oauth/yandex">
          <app-icon class="icon" icon="yandex"></app-icon>
        </a>
      </div>

      <p i18n="@@message.no_account">
        Have no account yet?
        <a [routerLink]="['/signup']">Register</a>
      </p>
    </div>
  </div>
</div>
