<ng-template #noDataTemplate>
  <ng-container *ngIf="progress.loading; else noUpdatesTemplate">
    <app-skeleton type="cards" [cols]="2"></app-skeleton>
  </ng-container>
</ng-template>

<ng-template #noUpdatesTemplate>
  <p>No updates in nodes from catalog.</p>
</ng-template>

<ng-container *ngIf="nodeUpdates?.updates | keyvalue as updates">
  <ng-container *ngIf="updates.length > 0; else noDataTemplate">
    <ul>
      <li *ngFor="let node of updates">
        <app-icon
          [icon]="state.updated[node.key] ? 'checked' : 'unchecked'"
          [color]="ui.color.primary"
          [size]="24"
        ></app-icon>
        <a
          (click)="select(node.key)"
          [class.active]="state.active == node.key"
          >{{ node.key }}</a
        >
      </li>
    </ul>

    <div>
      <button
        class="primary"
        [disabled]="state.updated.all"
        i18n="@@action.update_all"
        (click)="updateAll()"
      >
        Update all
      </button>
    </div>

    <div
      class="compare"
      *ngIf="nodeUpdates?.updates.get(state.active) as active"
    >
      <ngx-monaco-diff-editor
        class="monaco"
        [originalModel]="{
          language: 'yaml',
          code: active.current | yaml,
        }"
        [modifiedModel]="{
          language: 'yaml',
          code: active.changes | yaml,
        }"
        [options]="{
          readOnly: true,
          renderSideBySide: true,
          minimap: { enabled: false },
        }"
      >
      </ngx-monaco-diff-editor>
      <footer>
        <button
          class="primary"
          [disabled]="state.updated[state.active]"
          i18n="@@action.update"
          (click)="update()"
        >
          Update
        </button>
      </footer>
    </div>
  </ng-container>
</ng-container>
