@import "src/ui-kit/styles/variables";

:host {
  display: block;
}

.nodes {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;

  &>div {
    display: flex;
    flex-direction: column;
    gap: $gutter-small;
    position: relative;

    .overlay {
      position: absolute;
      z-index: 10;
      margin: -$gutter-small;
      border-radius: $corner-base;
      padding: $gutter-normal;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($color: black, $alpha: .15);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}