@import "src/ui-kit/styles/variables";

:host {
  display: flex;
  flex-direction: column;
  gap: $gutter-normal;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: $gutter-normal;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: $gutter-tiny;

    a {
      border-bottom: 2px solid transparent;

      &.active {
        border-color: $primary-text-color;
      }
    }
  }
}

.compare {
  display: flex;
  flex-direction: column;
  gap: $gutter-small;
  position: relative;
}

.monaco {
  min-height: 400px;
}