<ng-template #noDataTemplate>
  <ng-container *ngIf="progress.loading; else noUpdatesTemplate">
    <app-skeleton type="cards" [cols]="2"></app-skeleton>
  </ng-container>
</ng-template>

<ng-template #noUpdatesTemplate>
  <p>No updates in nodes from catalog.</p>
</ng-template>

<ng-container *ngIf="nodeUpdates?.updates | keyvalue as updates">
  <div class="nodes" *ngIf="updates.length > 0; else noDataTemplate">
    <header>
      <button
        class="primary"
        [disabled]="state.updated.all"
        i18n="@@action.update_all"
        (click)="updateAll()"
      >
        Update all
      </button>
    </header>
    <div *ngFor="let node of updates">
      <div class="overlay" *ngIf="state.updated[node.key]">
        <app-icon
          icon="checked"
          [color]="ui.color.success"
          [size]="32"
        ></app-icon>
      </div>
      <h1>{{ node.key }}</h1>
      <ngx-monaco-diff-editor
        class="monaco"
        [originalModel]="{
          language: 'yaml',
          code: node.value.current | yaml,
        }"
        [modifiedModel]="{
          language: 'yaml',
          code: node.value.changes | yaml,
        }"
        [options]="{
          readOnly: true,
          renderSideBySide: true,
          minimap: { enabled: false },
        }"
      >
      </ngx-monaco-diff-editor>
      <footer>
        <button
          class="primary small"
          [disabled]="state.updated[node.key]"
          i18n="@@action.update"
          (click)="update(node.key, node.value.updated)"
        >
          Update
        </button>
      </footer>
    </div>
  </div>
</ng-container>
