<app-informer
  *ngIf="!!error"
  [message]="error.message"
  (ok)="error = null"
></app-informer>

<table class="default" [class.busy]="progress.loading">
  <thead>
    <th width="150px">Refilled at</th>
    <th width="50px">Amount</th>
    <th>Invoice</th>
  </thead>
  <tbody>
    <tr *ngFor="let r of refills">
      <td>{{ r.refilledAt | date: "short" }}</td>
      <td style="text-align: right">{{ r.amount | currency: "USD" }}</td>
      <td>
        <a target="_blank" [href]="r.url">
          {{ r.url }}
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="chunk.length > 0 && !progress.loading"
  [inViewport]
  (visible)="loadMore()"
></div>
